[2018-11-07 18:56] guoyingtao opened #1 "Automatic Image rectification"
Automatic Image rectification

https://www.codeproject.com/Articles/104248/Detect-image-skew-angle-and-deskew-image

[2019-07-30 17:07] faustinogagneten opened #2 "How do I set only square ratio image configuration"
The library has the possibility to add custom ratios and thats perfect. However, I only need to use square ratio. How do I remove the other default configurations? Does the library provides any configuration?

Thanks.

[2019-08-06 14:47] guoyingtao commented on #2
Thanks for your suggestion! This is a good idea. I will add this feature in the next version.

[2019-08-08 12:17] veersr9 opened #4 "Blur shadow is showing on cropper"
When I am presenting CropViewController Image is showing in background and when I am touching to crop then Image is showing .

[2019-08-08 19:38] guoyingtao commented on #4
Can you attach a screenshot? It would be easier to know more detail about this issue.

[2019-08-09 15:45] guoyingtao commented on #2
Just released version 0.28. Now you can set ratioOptions of the Mantis config to only keep you custom ratios.
[code]

[2019-08-10 22:44] #2 closed

[2019-09-09 20:05] hyouuu opened #5 "Misspelled "Protocal""
It should be Protocol see here :p https://www.dictionary.com/browse/protocal

[2019-09-09 20:07] hyouuu opened #6 "Combine Impression into this?"
Looks like the goal for Mantis is to "mimics most interactions in the Photos.app", which contains filter functionality - could we merge Impression into this? The Photos.app UI could be referred to. Thanks for sharing this!

[2019-09-09 20:45] guoyingtao commented on #5
Thank you for the correction! I will fix it in the next version

[2019-09-09 23:11] guoyingtao commented on #5
It is fixed in version 0.29.

[2019-09-09 23:16] hyouuu commented on #5
Wow that's fast! Thanks!

On Mon, Sep 9, 2019 at 4:11 PM Yingtao Guo <notifications@github.com> wrote:

[2019-09-09 23:16] hyouuu commented on #5
Wow that's fast! Thanks!

[2019-09-09 23:16] #5 closed

[2019-09-13 05:47] georgek1991 opened #8 "Can we use this library with Objective-C project?"
I am working on an Obj-C project and I would like to use this library in my project. Does this library supports Obj-C project. Can you please specify steps to use it.

[2019-09-13 16:18] guoyingtao commented on #6
Thanks for your suggestion! I am thinking to use my other project Dahlia to combine them together. Still working on it.

[2019-09-13 16:24] guoyingtao commented on #8
There is some way to import a swift framework to your Obj-c project. Like this one
https://medium.com/@anum.amin/swift-pod-library-in-objective-c-project-c6d1c5af997d
I haven't tried it but maybe you can try it.

[2019-09-13 19:15] hyouuu commented on #6
Looking forward to it! Let me know if there's something I can help

[2019-11-06 06:26] KieuQ opened #12 "Some image cannot be cropped when selecting from "My Photo Stream" album"
When supplying an image directly from UIImagePickerController and from "My Photo Stream" album, some photos fails to crop
debugger logs: `[Unknown process name] CGBitmapContextInfoCreate: CGColorSpace does't support output`

[2019-11-08 01:42] guoyingtao commented on #12
Would you mind sharing one of those photos which failed to crop with me? Thank you!

[2019-11-08 01:42] #8 closed

[2019-11-08 11:02] nickstefanidis opened #13 "When I take screenshot and upload image from gallery , I can't crop."
As I mention in the title when I take a screenshot I can't crop the image. The "Done" button does nothing and I can only use cancel.
Thank you.

[2019-11-09 03:36] guoyingtao commented on #13
Thanks for your feedback! Can you also tell me the iOS version of your device? Thank you!

[2019-11-09 04:04] guoyingtao commented on #13
Would you mind sharing some codes of getting images from your image gallery? Sometimes the image gallery needs to download image data from iCloud then return the real image. I am not sure if it is the reason for the problem. I just tested on my device running iOS 13. I got an image from my image gallery and successfully cropped it with Mantis.

[2019-11-09 04:05] guoyingtao commented on #12
Would you mind sharing some codes of getting images from your image gallery? Sometimes the image gallery needs to download image data from iCloud then return the real image. I am not sure if it is the reason for the problem. I just tested on my device running iOS 13. I got an image from my image gallery and successfully cropped it with Mantis.

[2019-11-21 03:09] KieuQ commented on #12
Sorry about the late response

The device I'm using is on iOS 13

I just present the `UIImagePickerController` like this
[code]
and the delegate function
[code]
also here's one of the images in question although I don't think it's an issue with the image since I can crop it when I pick it through "All Photos"
![0BA17415-D0D1-4E47-AA1B-1066D84E2981 (1)](https://user-images.githubusercontent.com/203

[2019-11-21 03:52] guoyingtao commented on #12
Thanks for providing the example photo!
It is because the color space of this photo is "Apple Wide Color Sharing Profile", which can not be used as a destination color space.
I will fixed this problem in the next release.

[2019-11-21 04:11] guoyingtao commented on #12
@KieuQ I just released Mantis 0.40. You can try this version to see if it solves your problem or not.

[2019-11-21 04:12] guoyingtao commented on #13
@NickStef92 I just released Mantis 0.40. You can try this version to see if it solves your problem or not.

[2019-11-21 04:29] KieuQ commented on #12
Got it, I'll confirm if it's fixed on my side

[2019-11-21 08:48] KieuQ commented on #12
A tester of mine still cannot crop an image, I need to collect some logs and come back here
heres a recording from him
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/20398239/69321718-8aa98700-0c7e-11ea-88e5-bd9ca45a9e61.gif)

[2019-11-21 13:18] guoyingtao commented on #12
@KieuQ Thanks for the test! Did it still show `[Unknown process name] CGBitmapContextInfoCreate: CGColorSpace does't support output` again?
Also, did you test the image you shared with me? If it worked for that image, but didn't work for the new image like this oil painting, would you mind sharing this image to me too?

[2019-11-21 13:31] rodrigoct opened #14 "Error to set ratio with addCustomRatio"
Hi,
I have had problem when I set ration with addCustomRatio.
For instante, I tried
        let cropViewController = Mantis.cropViewController(image: image)
        cropViewController.delegate = self
        cropViewController.config.alwaysUsingOnePresetFixedRatio = true
        cropViewController.config.ratioOptions = [.custom]
        cropViewController.config.addCustomRatio(byVerticalWidth: 9,

[2019-11-21 14:18] guoyingtao commented on #14
Thanks for the feedback! It is a bug. I will fix it in the next release.

[2019-11-21 14:26] rodrigoct commented on #14
Ty :)

[2019-11-21 15:06] guoyingtao commented on #14
@rodrigoct  I just found the real reason.

Currently, the fixed ratio is adapted for vertical and horizontal images.
That means
If you set `cropViewController.config.addCustomRatio(byVerticalWidth: 9, andVerticalHeight: 16)`, it will use 9:16 for vertical images and 16:9 for horizontal images
It equals that you set `cropViewController.config.addCustomRatio(byHorizontalWidth: 16, andHorizontalHeigh

[2019-11-22 02:53] KieuQ commented on #12
@guoyingtao I don't know if it still logs `[Unknown process name] CGBitmapContextInfoCreate: CGColorSpace does't support output` at the moment, I need to wait for the tester to come to office with the device his using since he's testing remotely and the other devices I have right now isn't able to replicate this issue.
Also the image he is trying to crop is actually a screenshot, might be the same

[2019-11-22 03:41] yingtao-futurewonder commented on #12
@KieuQ Thanks for the information.  I reproduced this bug by using the first photo you provided and saw the same error log: `[Unknown process name] CGBitmapContextInfoCreate: CGColorSpace doesn't support output`. Then I fixed it by providing a default colorspace when finding the photo's colorspace does not support outputting.

Can you help to check if you can find the following code after updating

[2019-11-22 03:53] #4 closed

[2019-11-22 04:05] KieuQ commented on #12
@yingtao-futurewonder Yes, here's the screenshot
![Screen Shot 2019-11-22 at 11 59 54](https://user-images.githubusercontent.com/20398239/69397088-b6307e00-0d1f-11ea-94b2-a47909b57887.png)

[2019-11-22 04:13] guoyingtao commented on #12
@KieuQ Thanks for the checking. It is the newest version. Would you mind sharing that oil painting photo with me too?

[2019-11-22 04:45] KieuQ commented on #12
@guoyingtao Here's what my tester was trying to crop, I can crop it successfully with iPad Air 2 on ios13 but while he can't crop screenshots with his iPad Pro (9.7-inch) also on iOS 13
![IMG_3717](https://user-images.githubusercontent.com/20398239/69398575-bcc1f400-0d25-11ea-92ef-8094b554c4a5.JPG)

[2019-11-22 04:59] KieuQ commented on #12
@guoyingtao Hi, this is the log for when cropping screenshots with my testers iPad Pro
[code]

[2019-11-22 04:59] yingtao-futurewonder commented on #12
@KieuQ I don't have an iPad pro. I tested this photo on the iPad pro simulator and it worked. If you can provide some log information later when you can connect your iPad pro to XCode, that would be helpful!

[2019-11-22 05:02] KieuQ commented on #12
Also the issue where I cannot crop some images from 'My Photo Stream' is now fixed, so the issue I'm now encountering is the same as #13

[2019-11-22 05:06] yingtao-futurewonder commented on #12
@KieuQ Thanks for the information. I don't have an iPad pro. So I may need to find one to reproduce this bug... I tested on an iPad pro simulator it worked though. Can you also help to check if it also happens on other iOS devices?

[2019-11-22 05:08] guoyingtao commented on #12
Thanks for the information. I don't have an iPad pro. So I may need to find one to reproduce this bug... I tested on an iPad pro simulator it worked though. Can you also help to check if it also happens on other iOS devices?

[2019-11-22 05:10] KieuQ commented on #12
It doesn't happen to the other devices I have, only the iPad Pro (9.7-inch)

[2019-11-22 05:26] guoyingtao commented on #12
@KieuQ Do you have that iPad pro at hand? Can you change` bitmapInfo: self.bitmapInfo.rawValue` to` bitmapInfo: CGImageAlphaInfo.premultipliedFirst.rawValue ` in CGImageExtensions.swift in your pod files to see if it works. Thanks!

[2019-11-22 07:13] KieuQ commented on #12
@guoyingtao Hi, setting it to `CGImageAlphaInfo.premultipliedFirst.rawValue` doesn't fix it but `CGImageAlphaInfo.premultipliedLast.rawValue` does fix it

[2019-11-22 12:02] NickStef92 commented on #13
Hello and sorry for the late response. So I updated the library in version 0.40 but when I take a screenshot and the. try to crop it, the. Done button do nothing. IOS 13.1.

`func imagePickerController(_ picker: UIImagePickerController, didFinishPickingMediaWithInfo info: [UIImagePickerController.InfoKey : Any]) {

        if let selectedImage = info[.originalImage] as? UIImage{
            dismis

[2019-11-22 13:42] guoyingtao commented on #13
@NickStef92 Thanks for the information! I reproduced this bug. I will fix it in the next release.

[2019-11-22 13:43] guoyingtao commented on #12
@KieuQ Thanks for the information. It is really helpful! I will fix it in the next release.

[2019-11-22 13:49] NickStef92 commented on #13
Thank you!

[2019-11-22 14:53] KieuQ commented on #12
@guoyingtao Thank you too

[2019-11-23 21:38] guoyingtao commented on #13
@NickStef92 I just released Mantis 0.41. Please check if it solved the bug. Thank you!

[2019-11-23 21:38] guoyingtao commented on #12
@KieuQ I just released Mantis 0.41. Please check if it solved the bug. Thank you!

[2019-11-23 21:41] guoyingtao commented on #14
I met some problem when trying to fix this bug. I may fix it in the future version after the release 0.41.

[2019-11-25 03:08] KieuQ commented on #12
@guoyingtao issue is now fixed, thanks

[2019-11-25 03:23] guoyingtao commented on #12
@KieuQ No problem. Thanks for the feedback!

[2019-11-25 03:23] #12 closed

[2019-11-25 09:20] NickStef92 commented on #13
Hello and thank you. Unfortunately this didn't solve the bug. I get the same error.

[2019-11-25 13:29] guoyingtao commented on #13
@NickStef92 Thanks for the feedback!

Can you help to check if you can find the following code after updating Mantis to 0.41 in CGImageExtensions.swift in your pod files? Thank you.

Also, would you mind sharing your screenshot with me. Thank you!

[code]

[2019-11-25 13:37] NickStef92 commented on #13
@guoyingtao Yes I found it. There is no specific image for the issue.This happens every time I pass an image that I took with screen screenshot.

[2019-11-25 15:10] guoyingtao commented on #13
@NickStef92 I did reproduced this bug by passing screenshot image to corp. After adding the code I mentioned above, the bug is fixed on my device. So if you can provide some screenshot from your device, it may help me locate the bug. Thank you very much!
Also, would you mind providing some information of your device like iOS version, etc.

[2019-11-28 09:57] RajeevUdayan commented on #14
Facing same problem here.Any other work around for this issue?

[2019-11-30 22:11] guoyingtao commented on #14
@RajeevUdayan @rodrigoct  I fixed this bug in 0.42. Please update to Mantis 0.42 to see if it solves the problem.
The property `alwaysUsingOnePresetFixedRatio` is removed from Config.
Now you can use `<Your Crop ViewController>.config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: <Your ratio>)` to set your fixed ratio.

[2019-12-02 12:30] rodrigoct commented on #14
@guoyingtao with this property even when I set .alwaysUsingOnePresetFixedRatio(ratio: 1.0 / 1.0), the ratio is 16:9

[2019-12-02 13:03] rodrigoct opened #15 "Disable rotation dial"
Is it possible to disable rotation dial?

[2019-12-02 13:22] rodrigoct commented on #14
@guoyingtao this method just works on images from library in a simulator. But, when I run in a real iPhone, the ratio isn't fixed for images from gallery or when I take pictures.

[2019-12-02 14:25] guoyingtao commented on #15
@rodrigoct It is possible. I can add a switch to Config in the next release.

[2019-12-02 14:34] guoyingtao commented on #14
@rodrigoct I just tested on my iPhone and it worked. What device are you using? Can you uninstall and reinstall your app and test it again? Thank you!
You can also test with the Mantis Example by tapping the "AlwaysUseOnePresetRatio" button.

[2019-12-02 15:52] rodrigoct commented on #14
Humm, it works now. I tested on iPhone XR iOS 13.1.3 and iPhone 6 iOS 12.4.3
Great work, ty

[2019-12-02 15:52] #14 closed

[2019-12-03 05:17] RajeevUdayan commented on #14
Thank you Mantis team.

On Mon, Dec 2, 2019 at 9:22 PM rodrigoct <notifications@github.com> wrote:

--
Cheers,

*Rajeev U*
Technology Head | +91 9746 022 561

*SectorQube Technolabs* <http://sectorqube.com>
*Quality Solutions. Delivered*

[2019-12-04 03:09] guoyingtao commented on #15
@rodrigoct I released Mantis 0.43.
If you want to hide rotation dial, set Mantis.Config.showRotationDial = false

[2019-12-05 02:17] rodrigoct commented on #15
Cool, thank you @guoyingtao

[2019-12-28 17:24] premcodes1 commented on #13
@guoyingtao i am using pod version0.41...even i had the issue with the done button....it doesnt work sometimes..seems like done button will work only if we click on "DO" part of the "Done"..it will happens only when we take screenshot images , that images are blocking the gestures of done button ... pls solve

[2019-12-28 19:30] guoyingtao commented on #13
@premcodes1 Thanks for the feedback! The current Mantis version is 0.43. Would you mind to try this version to see if the problem is solved?

[2019-12-30 21:52] premcodes1 commented on #13
Solved this problem temporarily... this problem exists only if we use ipad in landscapeleft..
so..in "cropViewController.swift" i changed the stackView for order for landscapeleft in line number 301

[2020-01-04 13:47] weifans opened #16 "Image does not adapt automatically"
Thank you very much for contributing this library.
I found that the picture couldn't adapt in 9:16 mode.
As shown in the figure, is there any configuration required?

![image](https://image.feicdn.cn/Mantis.png)

[2020-01-05 18:39] guoyingtao commented on #16
@weifans Thank for the report! Can you tell me the information of your device and iOS version? Does it happen every time when you set the fixed ratio?

I tested it on iPhone 11 Pro Max and iPad Pro emulator, they seem fine.

![Simulator Screen Shot - iPad Pro (12 9-inch) (3rd generation) - 2020-01-05 at 13 29 25](https://user-images.githubusercontent.com/26723384/71784327-6dc3db80-2fc0-11ea-9f97-c

[2020-01-06 06:52] weifans commented on #16
你的名字很像中文名字，你会说中文吗？

I use iPhone 7 and simulator iPhone 11.
Simulator iPhone Pro Max -13.3 had the same problem.
The most important operation is to pinch your hands to shrink the photo, and you will not be able to adapt to it.

[2020-01-06 14:06] guoyingtao commented on #16
@weifans 我说中文。这确实是一个bug，我会抽空修复它。多谢反馈！

[2020-01-06 14:07] TechieSouls opened #17 "Image Crop Area does not move smoothly"
Hi @guoyingtao Guoyingtao,
I am using latest Mantis 0.43 version.
I have found that since ios 13, the image cropper area does not move smoothly.
I have created a video for you. Please have a look.

https://gfycat.com/fatalkindlyadmiralbutterfly

[2020-01-06 16:25] guoyingtao commented on #17
@TechieSouls Thanks for the feedback. I put a temp solution in the README.

You need set (cropViewController or its navigation controller).modalPresentationStyle = .fullscreen for iOS 13 when the cropViewController is presented

I haven't fingered out a better solution yet...

[2020-01-07 05:50] TechieSouls commented on #17
O Wow @guoyingtao . setting modalPresentationStyle worked. Thankyou So much.

[2020-01-07 07:00] weifans commented on #16
@guoyingtao 好的，辛苦啦

[2020-01-07 14:10] guoyingtao commented on #17
@TechieSouls No problem.

[2020-01-07 14:10] #17 closed

[2020-01-12 19:23] guoyingtao commented on #16
@weifans I just release 0.44 and fixed the bug you found. You can close this issue if it solved the problem. Thanks!

[2020-01-14 06:07] weifans commented on #16
@guoyingtao Ok thank you very much.

[2020-01-22 19:39] guoyingtao commented on #16
@weifans Can you close this issue if it solved the problem. Thanks!

[2020-01-23 11:01] #16 closed

[2020-01-23 15:50] guoyingtao opened #20 "Remove compile warnings for Mac(Catalyst) app"

[2020-02-12 20:55] rodrigoct opened #21 "Area crop image"
Can I set a smaller square area to crop the image?

[2020-02-13 01:32] guoyingtao commented on #21
Yes. You can set do it by setting config.presetFixedRatioType to . alwaysUsingOnePresetFixedRatio

[code]

Then pass this config to Mantis.cropViewController

[2020-02-13 02:35] rodrigoct commented on #21
Yes, however I'd like a square with smaller sides. For instance, a square with 20% the width of the image

[2020-02-13 16:15] rodrigoct commented on #21
Hello,
I set config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: 1.0)
So the area to crop has this size below
![Captura de Tela 2020-02-13 às 13 01 55](https://user-images.githubusercontent.com/4238802/74453325-058ad400-4e61-11ea-9af7-08d7d89251cd.png)
And I'd like set this crop area to [300,300] like this one:
![Captura de Tela 2020-02-13 às 13 14 39](https://user-images.github

[2020-02-14 00:36] guoyingtao commented on #21
Do you mean you want to keep the size of crop area all the time? Also, do you want to move this crop area to get different cropped image?

[2020-02-14 00:46] rodrigoct commented on #21
Yes. Yes

[2020-02-14 01:28] guoyingtao commented on #21
It is pretty different with the current way how Mantis crop view works. I may not have enough time to add this feature. Maybe you can create a new project for it.

[2020-02-14 01:49] rodrigoct commented on #21
I see. Thank you for the response.

[2020-02-14 01:49] #21 closed

[2020-02-14 05:11] StackHelp opened #22 "Warning for Font"
I got a warning for font ".SFUI-Regular" suppose to be only in `iOS13 or above`

[code]
After Debug, I found that it is at the line number `87` of `RotationDialPlate.swift` file.

And to solve this, I guess you have to change the font like shared [here](https://stackoverflow.com/a/58937753) or can use enum like [this answer](https://stackoverflow.com/a/58085935)

[2020-02-14 16:28] guoyingtao commented on #22
Thanks for the report!
I found the issue is at the line 88 of RotationDialPlate.swift file.
After I changed it to
`let cgFont = CTFontCreateUIFontForLanguage(.label, numberFont.pointSize/2, nil)`
the warnings were gone.

I will fix it in the next release.

[2020-02-27 13:46] lucagiorgettispotsoftware opened #24 "Is it possible to apply transformations to the starting image?"
I save the information obtained from CropInfo. Is there a way to reapply these transformations to start with an already transformed image and not the original one?

[2020-02-27 15:34] guoyingtao commented on #24
@lucagiorgettispotsoftware That is a good suggestion! I can do it in the next release.

[2020-02-27 16:32] lucagiorgettispotsoftware commented on #24
Thanks a lot, it will be highly appreciated! Approximately, when is a new release scheduled?

[2020-02-27 17:25] R3l0ad3d opened #25 "About Swift package"
i am highly requested to this team please add swift package . thanks

[2020-02-27 18:22] guoyingtao commented on #24
Maybe in a week.

[2020-02-27 18:23] guoyingtao commented on #25
@R3l0ad3d Thanks for the suggestion. I will add it in the next release.

[2020-03-01 08:14] guoyingtao commented on #24
@lucagiorgettispotsoftware I released Mantis 1.0.0

If you want to apply transformations when showing an image, set Mantis.Config.presetTransformationType
[code]
Please use the transformation infomation obtained previously from delegate method cropViewControllerDidCrop(_ cropViewController: CropViewController, cropped: UIImage, transformation: Transformation).

[2020-03-01 08:16] guoyingtao commented on #25
@R3l0ad3d I released Mantis 1.0.0 with swift package support. You can check if it works for you.

[2020-03-01 08:18] guoyingtao commented on #22
The warning is removed in the new release Mantis 1.0.0

[2020-03-04 07:04] lucagiorgettispotsoftware commented on #24
Thanks a lot, I'll try it in the next few days!

[2020-03-09 14:43] #22 closed

[2020-03-09 14:43] #25 closed

[2020-03-09 14:44] #6 closed

[2020-03-10 04:58] farismhmd1 opened #26 "How to get crop get after cropping?"
In my ios application, I want to get crop rect of the image after cropping for cropping other subviews with same image rect. So please provide me solution for that,

[2020-03-10 05:56] guoyingtao commented on #26
I don't understand "cropping other subviews with same image rect" very clearly. Can you add more details for it? Or can you add some demo pictures? That might be helpful!

[2020-03-12 04:36] farismhmd1 commented on #26
I need image crop rect(image frame details of cropped area) after cropping.

[2020-03-12 05:17] guoyingtao commented on #26
Do you mean you want the position and size of the red rect?
<img width="572" alt="image" src="https://user-images.githubusercontent.com/26723384/76489511-f7e45200-63fe-11ea-9c32-4cfb4c8265c0.png">

[2020-03-12 14:31] guoyingtao commented on #24
@lucagiorgettispotsoftware Does the solution work for you?

[2020-03-15 04:20] farismhmd1 commented on #26
yes, I want the same with the image transformation value.

[2020-03-16 02:33] guoyingtao commented on #26
I added CropRectPoints to cropViewControllerDidCrop in the **cropRectInfo** branch
[code]

CropRectPoints represents the four corner points of the crop rect. The coordinates value of the points are normalized.

[code]

[2020-03-16 07:23] farismhmd1 commented on #26
ok. I'll try to use this. Thanks for the support.

[2020-03-16 14:25] guoyingtao commented on #26
Can you let me know if it works for you? I can add it in a future release if needed.

[2020-03-17 11:00] lucagiorgettispotsoftware commented on #24
it works like a charm! Thank you very much!
PS: I apologize for the late reply

[2020-03-18 00:34] #24 closed

[2020-03-18 03:21] #13 closed

[2020-03-19 14:23] R3l0ad3d commented on #25
thanks .

[2020-04-07 14:39] PerplexedFox opened #27 "cropViewController not running"
Issue solved. It was my problem, sorry!

I would advise creating a step-by-step setup instruction if you don't mind :)

[2020-04-07 15:16] #27 closed

[2020-04-07 15:30] PerplexedFox opened #28 "Cropping from modally presented view closes both views"
I have a modally presented PhotoViewController, where the photos and camera button are displayed. When I use camera/gallery, mantis gets called (via segue, as modally I get the error of already presented modal view) for photo editing. However, when I click on "done", not only the CropViewController gets dismissed but also my initial PhotoViewController.

Is there a way to prevent this dismissal an

[2020-04-08 19:00] guoyingtao commented on #28
I am not quite sure about your issue.
I did some tests by adding some test code in the normalPresent function of the example project and it returned to the previous View Contoller.

[code]

[2020-04-14 18:34] liamse opened #29 "How can I change Grid overlay programmatically?"
I use swift 4.2 (with ios 11) and my code is exactly the same as `Example/ViewController.swift/normalPresent(:)` function
[code]

This code correctly transform, rotate, and scale the image, but I need to change the grid overlay as well. And get its information when `cropViewControllerDidCrop` is invoked.

[2020-04-14 19:39] guoyingtao commented on #29
@liamse I am not quite sure about the issue. How do you want to change the grid overlay? Can you provide more details or post some demo pictures?

[2020-04-15 16:37] liamse commented on #29
When I crop the image, I get the `transformation` like this:

[code]

What I saw in cropper is like this:
![Simulator Screen Shot - iPhone 11 - 2020-04-15 at 20 54 42](https://user-images.githubusercontent.com/3607101/79362986-88f99c00-7f5c-11ea-94bf-5b03cb7fb7cf.png)

Now I sent exact the same `transformation` in `config`

[code]

 but I get following image:

![Simulator Screen Shot - iPhone 11 -

[2020-04-16 01:29] guoyingtao commented on #29
Thanks for the feedback. It seems like a bug. I will fix it.

[2020-04-16 03:34] guoyingtao commented on #29
I solved the issue by adding **maskFrame** to Transformation and released Mantis 1.0.1.
Can you check it to see if it solves your problem?

[2020-04-16 12:39] liamse commented on #29
Dear @guoyingtao It works but it has a little problem at rotation dial numbers. It needs to update its place.

![Simulator Screen Shot - iPhone 11 - 2020-04-16 at 17 07 08](https://user-images.githubusercontent.com/3607101/79457136-f2cd8080-8004-11ea-939e-099990c8aa59.png)

If I change a little grid overlay, it adjusts to its correct place.

![Simulator Screen Shot - iPhone 11 - 2020-04-16 at 17 0

[2020-04-16 14:22] guoyingtao commented on #29
@liamse Thanks for the feedback. I just released Mantis 1.0.2. Can you check if it solves the problem?

[2020-04-16 15:25] liamse commented on #29
@guoyingtao  Thanks.
I do following steps but nothing changes:
1. git pull: This shows `5 files changed, 26 insertions(+), 22 deletions(-)`
2. go to Example folder and `pod install`: This shows the `Mantis 1.0.2` is installed
3. uncomment lines 41 and 42 of `ViewController.swift`

[code]

and the result is same for `rotation dial numbers`.
![Simulator Screen Shot - iPhone 11 - 2020-04-16 at 19 54

[2020-04-16 17:16] guoyingtao commented on #29
@liamse Can you find  adaptAngleDashboardToCropBox() at the end of CropView.swift? If not, can you try "pod update" instead of "pod install"?

[2020-04-16 19:12] liamse commented on #29
@guoyingtao  as you say, I find `adoptAngleDashboardToCropBox() and it works fine. The rotation dial goes its place now.
But for iPhone 5s (small screen) the image now goes out of screen.
![image](https://user-images.githubusercontent.com/3607101/79495857-7a81b200-803a-11ea-8323-ec4c90232848.png)
A little move in grid overlay set everything in their place.
![Simulator Screen Shot - iPhone 5s - 202

[2020-04-16 21:32] guoyingtao commented on #29
@liamse The test data I got in the Example project is from a bigger screen. If you get the transformation information from your iPhone5s and use it on the same device, it should wok.

[2020-04-19 01:16] JackyHe2882 opened #30 "I cannot pod install 1.02, only have version 0.27, also cannot use your sample project."
-> Mantis (0.27)
   A swift photo cropping tool which mimics Photo.app
   pod 'Mantis', '~> 0.27'
   - Homepage: https://github.com/guoyingtao/Mantis
   - Source:   https://github.com/guoyingtao/Mantis.git
   - Versions: 0.27, 0.26, 0.25, 0.24, 0.23, 0.22, 0.21, 0.20 [master repo]
(END)

[2020-04-19 02:12] guoyingtao commented on #30
@JackyHe2882  You can run `pod repo update` to update your local Cocoapods repo information.

[2020-04-21 17:41] #28 closed

[2020-04-21 17:41] #30 closed

[2020-04-21 17:42] #29 closed

[2020-04-22 07:25] mschonvogel opened #32 "CropShapeType ellipse doesn't work with presetFixedRatioType"
[code]
<img src="https://user-images.githubusercontent.com/370839/79952125-39deca00-847a-11ea-8b68-5cd7a9dbda5d.png" width=300>

**Expected:**
<img src="https://user-images.githubusercontent.com/370839/79952071-1a47a180-847a-11ea-93cc-a28284756cbb.png" width=300>

Also, I just want the cropping UI to have this circular shape, but the actual outputted image should be a square.

[2020-04-23 02:27] guoyingtao commented on #32
@mschonvogel Thanks for the report. I will fix this bug in the next release.
For this requirement

I don't understand why you still want the actual outputted image be a square. Can you give some details about your scenario?

[2020-04-23 02:59] guoyingtao commented on #32
I released Mantis 1.0.3 which fixed this bug.

[2020-04-23 08:06] mschonvogel commented on #32
Sure: I'm using this for cropping profile avatars. At the moment my designer likes the avatars to be in a circular shape, but next month this could be different. This is why I have to upload the avatar as a square. (But I still want the user to be able to "see the final result")

[TOCropViewController](https://github.com/TimOliver/TOCropViewController) for instance supports this scenario by provid

[2020-04-23 14:35] guoyingtao commented on #32
I released Mantis 1.0.4
Now you can use `config.cropShapeType = .ellipse(maskOnly: true)` to get the rect cropped image.

[2020-04-23 16:27] mschonvogel commented on #32
@guoyingtao Awesome, thanks!

[2020-04-23 16:27] #32 closed

[2020-04-24 01:29] guoyingtao opened #33 "Allow users to add a customized toolbar"

[2020-05-01 04:17] guoyingtao commented on #33
Mantis 1.1.0 is released with a CustomizedCropToolbar conform to CropToolbarProtocol in the example project.

[2020-05-01 20:50] mschonvogel commented on #33
@guoyingtao Looks good, thank you so much! The only thing I noticed is that`handleCropViewDidBecomeUnResettable()` is not getting called after having called `cropToolbarDelegate?.didSelectedReset()`.

(And all these didSelect**ed**... functions should probably be called `didSelect…`.

[2020-05-02 02:29] guoyingtao commented on #33
@mschonvogel You are right. I will fix them in the next release.

[2020-05-02 03:31] guoyingtao commented on #33
@mschonvogel I released Mantis 1.1.1. I add delegate?.cropViewDidBecomeUnResettable(self) to the reset() function in CropView.swift. That way every time the status is reset, the handleCropViewDidBecomeUnResettable() of CropToolbar will be called.

[2020-05-02 10:14] mschonvogel commented on #33
Ok, `thathandleCropViewDidBecomeUnResettable` is getting called now.

function naming is still wrong: didSelect**e** remove the `e` 😜

[2020-05-02 10:32] mschonvogel opened #36 "Image Dimension Issue"
When the image already has the aspect ratio applied, and you select it again it keeps on zooming in
Expected behavior:
- Either disable the aspect ratio action or don't zoom in again

![image-dimension](https://user-images.githubusercontent.com/370839/80861727-a6bf4480-8c70-11ea-8838-2d856afb0fec.gif)

[2020-05-02 10:46] mschonvogel opened #37 "Stops cropping when moving outside the CropOverlayView"
Expected behavior: Don't stop cropping if, during the cropping, the finger moves outside of the CropOverlayView.
![image-cropping-issue](https://user-images.githubusercontent.com/370839/80862051-90b28380-8c72-11ea-89d6-3d375c1675d4.gif)

Also, sometimes (after doing some cropping) the CropOverlay doesn't let me resize it at all.

[2020-05-02 12:31] mschonvogel opened #38 "Don't dismiss viewcontroller in `handleCrop`"
I'd like to decide when to dismiss the CropViewController. I'd suggest that the library never dismisses the ViewController at all and the class that implements the delegate has to make sure that the ViewController gets dismissed (like UIKit does for UIImagePicker):

[code]

[2020-05-02 15:58] guoyingtao commented on #33
You are right 😂 Will fix it.

[2020-05-03 15:12] guoyingtao commented on #36
@mschonvogel Mantis 1.2.0 is released which fixed this issue.

[2020-05-03 15:13] guoyingtao commented on #37
@mschonvogel Mantis 1.2.0 is released which fixed this issue.

[2020-05-03 15:15] guoyingtao commented on #38
@mschonvogel Good suggestion! I refactored CropViewControllerDelegate in Mantis 1.2.0.

[2020-05-03 15:16] guoyingtao commented on #33
I fixed this issue in Mantis 1.2.0.

[2020-05-03 15:51] mschonvogel commented on #38
Awesome, thanks!

[2020-05-03 15:51] #38 closed

[2020-05-03 15:51] mschonvogel commented on #37
Thank you, I've tested it and it works 👍

[2020-05-03 15:51] #37 closed

[2020-05-03 15:52] mschonvogel commented on #36
Thanks for fixing, it works!

[2020-05-03 15:52] #36 closed

[2020-05-03 15:59] mschonvogel opened #40 "Scaling the image doesn't work sometimes"
It happened in some other cases as well, but I was able to reproduce it when setting the aspect ratio, adjusting the crop frame, and then change the ratio back to the original one. After that it won't let me "zoom-out" anymore.

![image-picker-cant-zoom-out](https://user-images.githubusercontent.com/370839/80918796-013acc80-8d67-11ea-9d7d-f64b1a46cbbc.gif)

[2020-05-03 16:01] mschonvogel commented on #33
Awesome

[2020-05-03 18:07] guoyingtao commented on #40
@mschonvogel Thanks for the reporting. I followed your steps and didn't reproduce the issue. Would you mind uploading the picture you were using for this test. So I can use the same picture to test it again. Thanks!

[2020-05-03 18:16] mschonvogel commented on #40
Sure, those are the simulator default photos (Uploaded as a zip because otherwise, GitHub compresses the images):
[Archive.zip](https://github.com/guoyingtao/Mantis/files/4571289/Archive.zip)

[2020-05-03 20:43] guoyingtao opened #41 "Moving a photo only for fixed ratio setting does not trigger cropViewDidBecomeResettable"

[2020-05-03 21:33] guoyingtao opened #42 "Change line color when touching edge line of the crop grid view"

[2020-05-04 03:57] #41 closed

[2020-05-04 03:58] #42 closed

[2020-05-04 04:02] guoyingtao commented on #40
@mschonvogel I released Mantis 1.2.1. Hope it solved this issue. Also, I remove the default implementations of handleFixedRatioSetted() and handleFixedRatioUnSetted() for CropToolbarProtocol. When you select a fixed ratio, handleFixedRatioSetted() will be triggered, then you can make some UI change to show a user that the current ratio is fixed. When the user tap the button for setting ratio again

[2020-05-04 09:11] mschonvogel commented on #40
That works quite well!

However, now sometimes, I can't zoom in at all anymore:
![cannot-pinch-zoom](https://user-images.githubusercontent.com/370839/80949457-5a047680-8df4-11ea-95bb-e6770b4a79c7.gif)

Also, the gutter is moving once the image crop view is released:
![gutter-moving](https://user-images.githubusercontent.com/370839/80951202-b7e68d80-8df7-11ea-842a-de034ceb36f2.gif)

[2020-05-04 17:46] guoyingtao commented on #40
@mschonvogel Thanks for the feedbacks! I release Mantis 1.2.2 which fixed the issues you mentioned.

[2020-05-04 18:57] mschonvogel commented on #40
Thanks, seems to work! @guoyingtao

But now I can't zoom fully out sometimes:
![cant-zoom-out](https://user-images.githubusercontent.com/370839/81002568-bba30000-8e49-11ea-88b8-8eac9f0df7fe.gif)

[2020-05-05 03:24] guoyingtao commented on #40
@mschonvogel Thanks for the feedback! I tried to fix this issue but caused other problems. I need some time to figure out a right way to fix it.

[2020-05-05 08:34] mschonvogel commented on #40
@guoyingtao almost 😀 I'm still able to reproduce this issue with v1.2.3:
![cannot-zoom-out](https://user-images.githubusercontent.com/370839/81048033-d9a94880-8ebb-11ea-8bdb-c58d4743db4a.gif)

[2020-05-05 14:28] guoyingtao commented on #40
I will keep working on it later. 😂

[2020-05-06 03:07] guoyingtao commented on #40
@mschonvogel I released Mantis 1.3.0. Hope it solved the zoom issue.

[2020-05-06 03:25] guoyingtao opened #44 "Add horizontal skew and vertical skew features"
https://www.hackingwithswift.com/articles/135/how-to-render-uiviews-in-3d-using-catransformlayer
https://dzone.com/articles/a-look-at-perspective-transform-correction-with-co
https://stackoverflow.com/questions/8235288/perspective-correction-of-uiimage-from-points
https://github.com/paulz/PerspectiveTransform

`CATransform3D CATransform3DMakeRotation(CGFloat angle, CGFloat x, CGFloat y, CGFloat z)

[2020-05-06 03:25] #33 closed

[2020-05-06 14:12] mschonvogel commented on #40
Updated to 1.3.0 but there's still a zoom issue:

![zoom-out-not-possible](https://user-images.githubusercontent.com/370839/81187440-57e91600-8fb4-11ea-955d-ffe507fefbc9.gif)

[2020-05-06 14:43] guoyingtao commented on #40
@mschonvogel I did find this issue and fixed it before I released 1.3.0.
Can you help to check if you can find **self.scrollView.updateMinZoomScale()** in counterclockwiseRotate90() in CropView.swift?

[2020-05-06 14:45] mschonvogel commented on #40
![image](https://user-images.githubusercontent.com/370839/81191161-0000de00-8fb9-11ea-89a0-43ce3b74b14a.png)

Yes, I also did a hard clean before running the app @guoyingtao

[2020-05-06 15:25] guoyingtao commented on #40
I did the similar test and it seems OK
https://www.youtube.com/watch?v=WrOHDB7WymI&feature=youtu.be

Can you check if the Example project work for this issue?

[2020-05-06 18:06] mschonvogel commented on #40
![cant-zoom-out](https://user-images.githubusercontent.com/370839/81212305-fdac7d00-8fd4-11ea-9afd-1cd827669393.gif)

I was also able to reproduce it in the latest example project

[2020-05-06 18:33] guoyingtao commented on #40
@mschonvogel Can you give me more details about your test device or simulator type information? Thank you!  I couldn't reproduce this issue on my phone and my simulators.
Can you also try to delete the App and reinstall it?

[2020-05-06 19:30] guoyingtao commented on #40
@mschonvogel I released Mantis 1.3.1. Can you try it to see if it solves this issue? Thanks!

[2020-05-07 07:47] mschonvogel commented on #40
Yes, fixed it! Thanks again! 🙂

[2020-05-07 07:47] #40 closed

[2020-05-08 08:41] lucagiorgettispotsoftware opened #45 "Add support for custom CropShapeType"
Can you add support for custom CropShapeType using UIBezierPath (cgPath: CGPath)?
Or can you help me to achieve this result?
I'm trying to achieve this result in a fork, but the custom shape doesn't render properly

I have added this case
`case custom(path: CGPath)` in CropShapeType
and in the `func createOverLayer(opacity: Float) -> CAShapeLayer` in `CropMaskProtocol` I have added the case to man

[2020-05-08 09:11] Brakkar opened #46 "SwiftUi compatibility?"
Hello,
pardon my ignorance, but can this library work on a SwiftUi project?
Does it require any kind of adaptation for SwiftUi?

[2020-05-08 14:25] guoyingtao commented on #46
@Brakkar I think this [link](https://developer.apple.com/tutorials/swiftui/interfacing-with-uikit) may be helpful.

I haven't tried it yet. If it works please let me know. Thank you!

[2020-05-08 14:37] guoyingtao commented on #45
@lucagiorgettispotsoftware CropMaskProtocol is for the overlay mask. You may also need to add some code to `func crop(_ image: UIImage) -> (croppedImage: UIImage?, transformation: Transformation)` in CropView.swift and extension section of UIImageExtensions.swift

[2020-05-11 06:27] lucagiorgettispotsoftware commented on #45
Thanks for the reply. For now I'm focusing on the mask. My problem now is to correctly calculate the dimensions of the various layers (mask, dimming etc).
Will there be support for custom CropShapeTypes in the next releases?

[2020-05-11 21:11] guoyingtao commented on #45
@lucagiorgettispotsoftware I don't have a plan for custom CropShapeTypes yet. But if you can help to implement that feature, would you mind submitting a PR for that? Thanks!

[2020-05-13 14:32] MichaelDiMeo opened #47 "Mirror Mode"
Mirror Mode misses!

[2020-05-14 16:28] phanindhra7 opened #48 "How can I Add manually Mantis without cocoa pods?"

[2020-05-14 18:32] guoyingtao commented on #47
@MichaelDiMeo Do you mean Flip Horizontally / Vertically when you say Mirror Mode?

[2020-05-14 18:56] MichaelDiMeo commented on #47
@guoyingtao Yes! I've tried to implement by myself but I had a lot of problems with your code. For example I can't add outlet to the view.

[2020-05-14 18:57] MichaelDiMeo commented on #47
@guoyingtao Anyway, congrats for this amazing tool!

[2020-05-15 14:24] guoyingtao commented on #48
@phanindhra7 You can just download the whole project and drag files you need into your project.
You can also use Carthage or Swift Package Manager to integrate Mantis to your project if you don't like CocoaPods.

[2020-05-26 04:11] kjlee38 opened #49 "Is it possible to rotate clockwise?"
Is it possible to rotate clockwise?

[2020-05-27 02:43] guoyingtao commented on #49
@kjlee38 Currently it only rotate anti-clockwise. I can make it configurable for rotating clockwise in the next release.

[2020-05-27 04:04] kjlee38 commented on #49
@guoyingtao Thank you for your answer. When will the next release be planned?

[2020-05-27 04:24] guoyingtao commented on #49
@kjlee38 I plan to do it on this weekend.

[2020-05-27 04:48] kjlee38 commented on #49
@guoyingtao Oh great! Thank you so much~

[2020-05-31 20:16] guoyingtao commented on #49
@kjlee38 I released Mantis 3.1.2 with a clockwise rotation demo.
Now you can choose to use clockwise rotation or counterclockwise rotation, or both.

![image](https://user-images.githubusercontent.com/26723384/83361784-f2d9d380-a359-11ea-8f34-326747c14291.png)

[2020-06-01 00:11] kjlee38 commented on #49
@guoyingtao Greate!! Thank you very much!

[2020-06-01 04:14] #46 closed

[2020-06-01 17:46] #49 closed

[2020-06-01 17:46] #48 closed

[2020-07-14 07:37] ClaesClaes opened #50 "SwiftUI implementation example"
Hi, do you have (or know of) a SwiftUI example of using Mantis?

[2020-07-14 18:12] guoyingtao commented on #50
I don't have a SwiftUI example of using Mantis currently, but I can work on it later.

[2020-07-14 21:17] ejuden commented on #50
Here is some code I have for using it with SwiftUI, hope it helps.

`import Foundation
import SwiftUI
import Mantis

class MantisCoordinator: NSObject, CropViewControllerDelegate {

    var image: UIImage
    @Binding var showView: Bool
     var imageWasEdited: (UIImage?) -> Void

    init(image: UIImage, showView: Binding<Bool>, imageWasEdited: @escaping (UIImage?) -> Void) {

        self.image

[2020-07-14 21:18] ejuden commented on #50
Here is some code I have, hope it helps!

`import Foundation
import SwiftUI
import Mantis

class MantisCoordinator: NSObject, CropViewControllerDelegate {

    var image: UIImage
    @Binding var showView: Bool
     var imageWasEdited: (UIImage?) -> Void

    init(image: UIImage, showView: Binding<Bool>, imageWasEdited: @escaping (UIImage?) -> Void) {

        self.image = image
        _showView

[2020-07-15 09:25] ClaesClaes commented on #50
Thanks Edward, much appreciated! Worked like a charm (almost). Xcode complained about the first 'func' in the 'struct'.

[code]
The ommission of the `<MantisController>` after 'UIViewControllerRepresentableContext' seems related to how text is formated in this text field if it's not marked as 'code'. So just for clarity for others here's how it should read:

[code]

[2020-08-04 11:36] psredzinski opened #51 "How to get new Transformation from CropInfo"
I store CropInfo data somewhere in user settings. And I'd like to read it, and translate it to 'Transformation', so I can launch CropView with predefined Crop selected.

How can I do this?

[2020-08-04 18:40] guoyingtao commented on #51
@psredzinski Please check #24 to see if it is helpful.

[2020-08-09 02:31] #50 closed

[2020-08-26 12:08] halpz opened #52 "when only using fixed ratio, the ratio can randomly change"
when using config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: 4.0 / 3.0) , it appears to be fixed at first, but after some zooming and cropping, the ratio can change randomly

[2020-08-26 15:10] guoyingtao commented on #52
@halpz Thanks for the feedback. How often does it happen? Can you reproduce it every time? Thank you!

[2020-09-30 00:24] alessiolapenna opened #56 "Initializing image crop with a normalized crop CGRect"
I have a different tool that as output provides a normalized CGRect as the crop of interest.
I'd like to use this crop to inizialize the CropViewController so that it can "start" with the crop I provide.
I cannot find an easy way to do this.
What is the correct way to achieve this?
iOS interfaces work with normalized crop rects (in the range 0..1) so I think it would be a good improvement to add t

[2020-09-30 14:21] guoyingtao commented on #56
@alessiolapenna  Just want to make sure my understanding is right.

The original image
888888
888888
888888
888888
888888
888888

The iniialized image with the input crop information (0.6, 0.5)
 8888
 8888
 8888

[2020-09-30 14:26] alessiolapenna commented on #56
@guoyingtao Thanks for your reply.
I mean I would give as an input cgrect(x:0.1, y:0.1, width:0.8, height:0.8) meaning that the origin should be at 10% of the size of the image and the size is 80%.
So for example an image of size 200x200, passing the above rect I would get an image of 160x160 with origin at 20,20
I don't know if I could explain myself

[2020-09-30 18:12] guoyingtao commented on #56
@alessiolapenna I think I understand what you mean. I can add this feature this weekend if I get enough time.

[2020-09-30 22:59] alessiolapenna commented on #56
That would be great.
Thank you

Inviato da iPhone

[2020-10-04 02:20] guoyingtao commented on #56
@alessiolapenna I added the new feature on 56_normailized_input branch by adding presetNormalizedInfo to PresetTransformationType
You can test it by setting config.presetTransformationType like this
[code]

[2020-10-04 15:08] alessiolapenna commented on #56
Thank you very much.
I’ll let you know how my tests go.

[2020-10-08 02:52] alessiolapenna commented on #56
@guoyingtao this works very well. I didn't find any issue.
Thank you very much for the hard work.

[2020-10-08 13:10] #56 closed

[2020-10-08 13:18] guoyingtao commented on #56
@alessiolapenna Thanks for the test. I released Mantis 1.4.3 which includes this feature.

[2020-10-11 01:59] #51 closed

[2020-10-11 14:47] guoyingtao commented on #20
Done.

[2020-10-11 14:47] #20 closed

[2020-10-12 18:02] codebeauty opened #61 "CFBundleVersion is missing"
Build for Release failed because of Mantis:

Return status of iTunes Transporter was 1: ERROR ITMS-90056: "This bundle Payload/.../Frameworks/Mantis.framework is invalid. The Info.plist file is missing the required key: CFBundleVersion. Please find more information about CFBundleVersion at https://developer.apple.com/documentation/bundleresources/information_property_list/cfbundleversion"
The call

[2020-10-13 00:25] guoyingtao commented on #61
@codebeauty What is your Xcode version? I tried with XCode 12.0.1 and found a different error.
[code]

This [link](https://github.com/Carthage/Carthage/issues/3019) mentioned **Carthage builds fail at xcrun lipo on Xcode 12 beta (3,4,5...)**

[2020-10-13 00:35] guoyingtao commented on #61
I tried one solution of the link above and it worked.
https://github.com/Carthage/Carthage/issues/3019#issuecomment-665136323

[2020-10-13 01:07] guoyingtao commented on #61
@codebeauty Based on this linke https://github.com/Flight-School/AnyCodable/issues/20#issuecomment-493263003
It seems I need to hard code hard-coding CURRENT_PROJECT_VERSION to 1 to solve this problem.
I will fix it in the next release.

[2020-10-13 07:22] codebeauty commented on #61
Yes, that lipo bug is temporary fixed for me by using the workaround with a tmp.xcconfig file mentioned in this thread. I'm using **Xcode 12.0.1** and **Carthage 0.36.0**

[2020-10-15 07:34] NatashaChhibber707 opened #62 "Can I get the frame of Cropping Area i.e gridOverlayView ?"
I want to add animation to that part so I need the frame of Cropping Area of Image (cropBoxFrame) . Let me if it is possible to get value of that frame . Thanks in Advance

[2020-10-15 08:42] #62 closed

[2020-10-22 06:11] trung-belle opened #63 "Fixed ratio breaks when zooming crop view out further than the width of the image"
Steps to reproduce:
1. Set fixed ratio to 1/1.
2. Hold one corner of the crop view then drag it outwards to zoom out.
3. When the crop view reaches the full width of the image, continue zooming it out will break the 1/1 ratio.
If when I zoom out I do not release my finger and zoom back in immediately, the 1/1 ratio will be restored. But if I release my finger, the new ratio become fixed.
Below are

[2020-10-24 01:55] guoyingtao commented on #63
@trung-belle Thanks for the report! I fix it in the branch 63_fixed_ratio_break_bug. Can you help to check if the issue still exist?

[2020-10-29 12:08] luke-oneill opened #65 "Add delegate hooks for responding to changes in crop prior to applying it"
I have the following use case:
* A parent view controller displays crop view controller and other UI elements.
   * The embedded crop view controller, which allows user to crop an image
   * A label that displays the current resolution of the cropped image
* The label should update in real time as the user uses touch gestures to adjust the crop

I don't think this is possible with the current hook

[2020-10-29 15:59] guoyingtao commented on #65
Mantis does not support the use cases you mentioned, so feel free to submit your PR for this feature.
Maybe you can start with CropView+Touches.swift and CropViewControllerDelegate in CropViewController.swift.

[2020-11-05 03:31] #65 closed

[2020-11-05 03:32] #63 closed

[2020-11-05 03:32] #61 closed

[2020-11-12 19:18] ejuden opened #68 "Effects CropVisualEffect Enhancement Request"
Thought others might benefit from this:

I have added a new enum to "CropVisualEffectType" (custom) in my code.
`public enum CropVisualEffectType {
    case blurDark
    case dark
    case light
    case none
    case custom(color: UIColor)
}`
modified "getEffect" to use it:
` static func getEffect(byType type: CropVisualEffectType) -> (UIVisualEffect?, UIColor) {
        switch type {

[2020-11-12 19:46] guoyingtao commented on #68
@ejuden Would you mind submitting a PR for that so I can review the code?
Also, maybe you can add a ThemeColor property to Mantis.Config instead of making `CropToolbar` public.

[2020-11-12 21:42] ejuden commented on #68
I am not sure I created the PR correctly, looks like I have 4 separate patches for the same fix.

Edward
On Nov 12, 2020, 1:46 PM -0600, Yingtao Guo <notifications@github.com>, wrote:

[2020-11-12 21:48] apptekstudios commented on #68
@ejuden Do you have a branch with the entire fix committed to it? If you push that branch to your github fork it is easy to make a single PR from that 👍

[2020-11-12 23:48] ejuden commented on #68
Ok, got a crash course on using PR in GitHub, never done that.  Thanks!

All done.

Edward
On Nov 12, 2020, 3:48 PM -0600, Apptek Studios <notifications@github.com>, wrote:

[2020-11-20 10:08] luke-oneill opened #75 "Clockwise rotation + rotation dial causes images to flip"
Hey, I discovered a bug when using clockwise rotation and rotation dial at the same time. I will try and look into this later but please let me know if you have any pointers on how to fix.

1. Select "Clockwise rotation" option in example project
2. Press rotate button to turn image clockwise 90°
3. Use the rotation dial to fine tune rotation.

Expected: Image rotates based on your drag
Actual: Im

[2020-11-20 15:49] guoyingtao commented on #75
@luke-oneill Thanks for the report. It is a bug. I fixed it in PR #76

[2020-11-20 15:56] #75 closed

[2020-11-20 16:02] guoyingtao commented on #75
I released Mantis 1.4.7 which fixes this issue.

[2020-12-07 05:33] guoyingtao commented on #44
Possible steps

1. Rotate UIImageView by CATransform3DMakeRotation
2. Get corner point of rotated UIImageView
3. Use CIPerspectiveTransform to create the new image

[2020-12-14 03:32] alessiolapenna opened #77 "Apply transformations to a different ratio"
Assuming I have an Image and some transformations that Mantis gave me when applying a certain fixed aspect ratio, is there any way at the moment to keep those transformations (or well migrating them) to a different aspect ratio?

For example, I have zoomed in an image in a vertical aspect ratio 4:3, now I'd like to change the aspect ratio to horizontal or square but I'd still like to see the zoome

[2020-12-15 03:05] guoyingtao commented on #77
@alessiolapenna I may not understand your question very well. Since when you change the aspect ratio, it won't reset all transformations. Can you give more descriptions about it? Do you mean you want to get a new aspect ratio image based on a zoomed image and previous ratio like 4:3 programmatically not do it via Mantis UI?

[2020-12-15 06:46] alessiolapenna commented on #77
@guoyingtao

Thanks for your prompt reply.
Here is the flow:

1. User edit a photo using Mantis UI, applying a ratio (example 1:1.3)
2. The app gets a transformation object from interaction at point 1
3. User select a different aspect ratio in our UI
4. The app open edit mode again with Mantis UI with a new fixed aspect ratio (example 2:1)

What I'm trying to achieve is to apply the transformation

[2020-12-16 06:07] guoyingtao commented on #77
@alessiolapenna The current logic of Mantis does not support it. I need to add some code for it.

[2020-12-17 00:22] alessiolapenna commented on #77
@guoyingtao Thank you. That would be great. If you don't have time to do that, can you give me some directions on how to migrate transformation data between aspect ratios?

[2020-12-17 06:15] guoyingtao commented on #77
@alessiolapenna Can you try using
[code]
 to see if it works for you? If it does, I will release a new version later.

[2020-12-17 06:17] alessiolapenna commented on #77
@guoyingtao sure, how should I proceed? Just pass the presettransformation i got in a different ratio and see if it works, right?

[2020-12-17 06:44] guoyingtao commented on #77
I think you can use some code like below
[code]

[2020-12-17 07:43] trung-belle commented on #63
Hi, sorry I have not been on GitHub for a while. I can confirm that the issue has been solved as of version 1.4.7. Thanks!

[2021-01-15 03:37] roddymunro opened #79 "Choose default ratio but allow fixed-ratio button to be shown"
I have a custom ratio that I would like to be set when opening an image (2:1). However, I would also like users to have the option of changing the ratio themselves.

I have tried `config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: 2.0)`, but this doesn't allow the ratio to be changed.

I have also used `config.addCustomRatio(byHorizontalWidth: 2, andHorizontalHeight: 1)`, but I s

[2021-01-15 04:43] guoyingtao commented on #79
@roddymunro I think this is a feature request. I can support this feature in the next release.

[2021-01-18 06:05] guoyingtao commented on #79
I released Mantis 1.4.8. Can you check if it can solve this issue?
You can use MantisConfig.presetFixedRatioType = canUseMultiplePresetFixedRatio(defaultRatio: <Your ratio>)

[2021-01-19 00:02] roddymunro commented on #79
@guoyingtao Thank you, that seems to work nicely. I appreciate you doing this so quickly!

[2021-01-19 00:02] #79 closed

[2021-02-01 11:48] laszlotuss opened #81 "Bundle Identifier should be set using pod_target_xcconfig: s.pod_target_xcconfig"
After **pod install**, it gives me a warning about settings bundle identifier.

`[!] The Mantis target sets a Bundle Identifier of com.echo.framework.Mantis in it's info.plist file. The Bundle Identifier should be set using pod_target_xcconfig: s.pod_target_xcconfig = { 'PRODUCT_BUNDLE_IDENTIFIER': com.echo.framework.Mantis' }.`

[2021-02-04 13:19] zeeshanTeks opened #83 "Set image container inside the cropper"
Hi,

Is it possible fit the image container view inside the cropper initially(image attached)? Then after user can zoom in/out.
Attached image shows how it should look. The image will be centred. I tried to zoom in as much as i can, but the image should be fully inside the cropper and centred, with white background(if possible)

We have a fixed ratio for cropper. i.e., 4x6 and 5x7

First image is

[2021-02-04 19:29] guoyingtao commented on #81
@laszlotuss I released Mantis 1.4.9. Can you check if it solves the issue.

[2021-02-15 10:33] zeeshanTeks opened #85 "Rotate only image and not the cropper and vice-versa"
Hi @guoyingtao

Is it possible to rotate only the image with a button click? And rotate only the cropper(i.e., the ratio is reversed) with a button click?

[2021-02-15 16:21] guoyingtao commented on #85
@zeeshanTeks The current version of Mantis does not support it.
Do you want Mantis support this feature instead of #83
Or do you want both?

[2021-02-16 05:39] zeeshanTeks commented on #85
@guoyingtao  Both would be really helpful. Thanks.

[2021-02-21 03:34] guoyingtao commented on #85
@zeeshanTeks I added rotate cropper button in the branch `85_rotate_image_cropper_separately`
It is actually altering the cropper ratio not rotating. I am not sure if it is what you want.
You can test it in the branch `85_rotate_image_cropper_separately`

<img width="298" alt="image" src="https://user-images.githubusercontent.com/26723384/108614741-3d5d1d80-73cb-11eb-9a41-cc3776fec13b.png">
<img w

[2021-02-22 05:06] zeeshanTeks commented on #85
@guoyingtao Thank you so much, this works perfectly.

[2021-02-22 18:20] marko8994 opened #87 "Using same ratio for both portrait and landscape images"
Is it possible to make custom ratios to be be fixed(not switching width and height) for both landscape and portrait images. We have some specific usage and we want custom ratios to be the same and not change.

Example:

1. Define two custom ratios
config.addCustomRatio(byVerticalWidth: 3, andVerticalHeight: 4)
config.addCustomRatio(byVerticalWidth: 16, andVerticalHeight: 9)
2. Try to crop portrait

[2021-02-22 18:33] guoyingtao commented on #87
@marko8994 Yes, it is possible. I can add a new config setting for it in the next release.

[2021-02-23 04:59] guoyingtao commented on #85
@zeeshanTeks I released Mantis 1.4.11 which includes this feature.
You can add the button to alter the cropper by adding `.alterCropper90Degree` to `config.cropToolbarConfig.toolbarButtonOptions`

[code]

[2021-02-23 05:02] guoyingtao commented on #87
@marko8994 I released Mantis 1.4.11 which includes this feature.
I added `fixRatiosShowType` to Mantis.config
[code]
You can change this value to .horizontal or .vertical to use the same ratios for both portrait and landscape images

[2021-02-23 05:11] zeeshanTeks commented on #85
Thanks a lot. You are too good.

[2021-02-23 11:59] marko8994 commented on #87
@guoyingtao, I see that you implemented this only in case we use RatioPresenter. Is it possible to add optional login for RatioSelector also since we are not using RatioPresenter?

[2021-02-23 12:07] marko8994 commented on #85
@guoyingtao, as I see in the version this only gives option to independently rotate image and cropper.  Is it possible to make an option to have fixed ratio even after image is rotated.

Example:

1. We have custom ratio 3:4
2. We rotate image 90 degrees clockwise
3. Custom ratio stays 3:4 even after rotation, instead of changing to 4:3 like it doing now

I believe that this can be partly related

[2021-02-23 14:42] guoyingtao commented on #87
@marko8994 I added fixRatiosShowType setting to RatioSelecor in the master branch.

I also moved fixRatiosShowType to Config.cropToolbarConfig
[code]

Can you check if it is what you want? Then I can release a new version of Mantis.

[2021-02-23 16:53] marko8994 commented on #87
@guoyingtao, Yup, this is what we wanted. Everything works as expected. Thanks a lot.

[2021-02-23 17:26] guoyingtao commented on #87
@marko8994 I just released Mantis 1.4.12 which includes this support.

[2021-02-23 17:27] #85 closed

[2021-02-24 17:19] #87 closed

[2021-03-16 14:06] Brakkar opened #89 "Error message when image is a a screenshot"
Hello,
I notice this behavior ONLY when image loaded in the cropper is a screenshot image ( taken with simultaneously pressing iPhone ON and Volume + buttons) thus loaded from library:

1) As soon as the image appears in the target UIImageview, it very quickly zoom on the image just slightly.
2) In the log window on xcode I can read the message below. It doesn't prevent the system from working. It

[2021-03-17 02:28] guoyingtao commented on #89
Hi @Brakkar, thanks for the feedback!
I could not reproduce the issue you mentioned on my iPhone 11. Could you add more information about the device you were using? Thanks!

[2021-03-17 16:03] Brakkar commented on #89
Hi @guoyingtao,

i have an iphone XS on iOS 14.2.

I can reproduce the error message on iPhone 11 simulator and the image from this link.
I add it as a link because i'm not sure if github upload would alter the image in a way that may not cause the problem.
https://fromsmash.com/screenshotimage

[2021-03-17 19:50] guoyingtao commented on #89
@Brakkar Thanks for image. I reproduced the issue this time.
It is because the code below.

Usually code 1 works. When code 1 does not work, it will give the warning you mentioned before. Then code 2 or code 3 will handle it.

For your image, code 2 handled it.

It is not a graceful solution and there are cases I haven't handled yet.
I will improve the code later to make it more general.

[code]

[2021-03-20 16:37] guoyingtao commented on #89
@Brakkar I released Mantis 1.5.0 which removed the warning.
I did not notice "**As soon as the image appears in the target UIImageview, it very quickly zoom on the image just slightly.**"
Can you check if it still happens in this version? Thank you!

[2021-03-22 17:05] Brakkar commented on #89
@guoyingtao  thank you for the fix. I can confirm I don't get the error message anymore.
As for the behavior, please look at that video: https://fromsmash.com/microzoom

You can notice that as soon as the image gets in the mantis square selection area, it zoom slightly.
It doesn't do this with image taken from camera, again, it seems to affect only images from screenshot.
I can reproduce this in s

[2021-03-22 18:38] edbarbier commented on #52
I'm notifing the same problem when I add a customRatio (in my case 16/9), if I do not resize, or crop the image and just tap Done. The correct aspect ratio is maintained, otherwise the images appears too wide, and thin.
[code]
He's an example if that helps. Both images should get a 16 by 9 ration, the one I slightly edited after opening the CropViewController appears like a long panorama.

![image

[2021-03-23 01:55] guoyingtao commented on #52
@edbarbier Thanks for the feedback. I still could not reproduce it. Would you mind posting the photos you are using here? Thank you very much!

[2021-03-23 02:04] guoyingtao opened #91 "As soon as the image appears in the target UIImageview, it very quickly zoom on the image just slightly."
@guoyingtao  thank you for the fix. I can confirm I don't get the error message anymore.
As for the behavior, please look at that video: https://fromsmash.com/microzoom

You can notice that as soon as the image gets in the mantis square selection area, it zoom slightly.
It doesn't do this with image taken from camera, again, it seems to affect only images from screenshot.
I can reproduce this in s

[2021-03-23 02:54] #91 closed

[2021-03-23 03:02] guoyingtao commented on #89
@Brakkar I release Mantis 1.5.1 which fixed this issue. Can you check it again to see if the issue is solved or not on your side? Thank you!

[2021-03-23 12:36] edbarbier commented on #52
Strangly, after trying again this morning I couldn't reproduce it.

I remember panning / pinching on the image before tapping done and experiencing the bug yesterday. In the .zip you'll find the two images I was using in the previous screenshot.

[Archive.zip](https://github.com/guoyingtao/Mantis/files/6189591/Archive.zip)

I'm not done working on this project so as I do more testing, I'll report

[2021-03-24 16:04] Brakkar commented on #89
@guoyingtao I confirm it is resolved. It feels much cleaner. Thanks.

[2021-03-25 02:35] #89 closed

[2021-03-25 02:36] #81 closed

[2021-03-29 09:40] nthnhung23 opened #93 "Auto scale when set ratio 9:16"
When i set config like this:
`config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: 9.0 / 16.0)`
image auto scale. How to not scale this?

https://user-images.githubusercontent.com/75512024/112818216-7c0e8380-90ad-11eb-8f8b-e9091d80722a.MP4

[2021-03-29 12:49] guoyingtao commented on #93
@nthnhung23 Which version are you using? I think it was solved in the latest version 1.5.1

[2021-03-30 03:50] nthnhung23 commented on #93
yes, thank you. But i have new issue.
I try crop like video, ratio frame will change error.

And How do I keep ratio frame and only change image?

https://user-images.githubusercontent.com/75512024/112930915-5df46200-9145-11eb-89b1-c179f0f74d04.MOV

[2021-03-30 04:27] guoyingtao commented on #93
@nthnhung23 Mantis does not support video crop. Do you mean animation GIFs?

[2021-03-30 04:28] guoyingtao commented on #93
@nthnhung23 Mantis does not support video crop. Do you mean animation GIFs?

[2021-03-30 04:29] nthnhung23 commented on #93
No, video is demo bug. I crop only image

[2021-03-30 04:39] guoyingtao commented on #93
@nthnhung23 Can you provie more information about your iOS device? Does it happen to any photos you are using? Thank you!

[2021-03-30 04:40] nthnhung23 commented on #93
this problem any device and photos i used.

[2021-03-30 04:51] guoyingtao commented on #93
@nthnhung23 Does it also happen when you use the Example App?

[2021-03-30 04:56] guoyingtao commented on #93
@nthnhung23 I reproduced this issue. I will check it later when I have enough time.

[2021-04-04 17:24] domhof opened #95 "Support for large images"
Mantis requires the input image to be wrapped in an UIImage object but UIImage/UIImageView has issues with large images (see https://stackoverflow.com/questions/30941775/large-uiimage-not-showing-in-uiimageview), causing the image in Mantis to be black and the save button in Mantis not working (triggers an error message in the console: "CGBitmapContextInfoCreate: unable to allocate 1291540608 byte

[2021-04-13 17:27] luke-oneill opened #97 "Difficulty using normalizedTransform with presetFixedRatioType"
I want to open a crop view using crop data that is fetched from a server in the format `x, y, width, height`.  Using the following code to initialise with a normalizedTranform:

[code]

**This works.**

Additionally, I want to constrain the crop to a particular ratio. Add the following line:

[code]

**This breaks.**

The transformation when crop view is loaded incorrectly – it is much more zoomed

[2021-04-13 19:16] guoyingtao commented on #97
I didn't test the case of combining normalizedTranform and .alwaysUsingOnePresetFixedRatio, so it probably does not support this feature very well.
You are welcome to submit a PR for it. It may be helpful if you check the code in **viewDidAppear** in **CropViewController**

One question is when you want to constrain the crop to a particular ratio, do you also want to  constrain the crop inside the

[2021-04-14 16:33] luke-oneill commented on #97
I've done some digging, and found a couple of things:

1. The problem only occurs when the preset ratio is less than the image's aspect ratio. e.g. using the following code in the example project:

[code]
 where RATIO is 5:

![horizontal](https://user-images.githubusercontent.com/5530491/114745569-aff0d680-9d46-11eb-94a5-1c659175c717.jpg)

vs where RATIO is 0.2:

![vertical](https://user-images.gi

[2021-04-15 03:02] guoyingtao commented on #97
@luke-oneill

I found a way to support this feature. I am using the code below, RATIO is 0.2 or 5. I attached a result screenshot here, just want to make sure it is what you want.

[code]

![image](https://user-images.githubusercontent.com/26723384/114807794-06750980-9d75-11eb-8e1a-b7c6f91b9390.png)

[2021-04-15 07:34] luke-oneill commented on #97
Awesome, looks great! Thank you so much.

One question is how do the transform values work? I would assume a width and height of 0.8 means the crop is not the full size of the image, but in image the crops go the full width or height of the image.

[2021-04-15 12:50] guoyingtao commented on #97
@luke-oneill The crops get 0.8 width and 0.8 height.
The current logic is the image always zooms into the crop area.
![image](https://user-images.githubusercontent.com/26723384/114871332-30571c00-9dc7-11eb-938b-2a599f3aede9.png)

[2021-04-15 13:22] luke-oneill commented on #97
Ahah, yeah I see now, makes perfect sense and solves my use case. Thanks!

[2021-04-15 13:32] guoyingtao commented on #97
Good! I will add the logic to a new branch later for you to test.
Once it passes your tests, I will release a new version.

[2021-04-15 22:30] guoyingtao commented on #97
Can you try the pod settings below to see if it solved your issue?

[code]

[2021-04-16 07:06] luke-oneill commented on #97
Tested, and it works perfectly 🥳

On Thu, Apr 15, 2021 at 11:30 PM Yingtao Guo ***@***.***>
wrote:

[2021-04-16 09:03] luke-oneill commented on #97
Think I found an issue actually.

For my test image and ratio, the y transform works as expected, but the x transform is off by the width of the crop box. See the image below, I've got four different transforms – I'd expect the crops to be all the way to the left for x = 0, and all the way to the right for x = 1.

![IMG_0005](https://user-images.githubusercontent.com/5530491/115000457-b001eb00-9e9

[2021-04-16 12:20] guoyingtao commented on #97
Since it is normalized info, it should have the limitation like 0 <= (x + width) <=1, 0 <= (y + height) < = 1. So I think for your case you should use (0,0,0.5,0.5), (0.5,0,0.5,0.5),(0,0.5,0.5,0.5),(0.5,0,.5,0.5,0.5)
Also, .alwaysUsingOnePresetFixedRatio will always get a crop which will be in the middle of the crop after nomalizedTransform.

You can see the red and blue crop box in the pictures b

[2021-04-19 14:47] luke-oneill commented on #97
I think I understand, thanks. Are you're saying that this specific use case is not possible right now:

**Open a crop view, with a fixed ratio, that is transformed to any point within the image, including the far edges.**

i.e. It is impossible to open a crop view with a crop that matches the yellow rectangles?

![IMG_0005](https://user-images.githubusercontent.com/5530491/115255547-4990fd00-a126-

[2021-04-19 16:15] guoyingtao commented on #97
@luke-oneill We may need extra parameters for this scenario.
For example, we can add a new presetFixRatioType
[code]

[2021-04-19 16:47] luke-oneill commented on #97
I don't think that works... if I select `.topLeft` it would result in the yellow crops below. I want a user to be able to crop anywhere on the photo.

![IMG_0005](https://user-images.githubusercontent.com/5530491/115272677-94b30c00-a136-11eb-84b9-9cb9c569a24b.JPG)

I'm not sure I've made my exact use case 100% clear, so will try again:

1. Save a fixed ratio crop of anywhere on an image.
2. Store

[2021-04-19 18:20] guoyingtao commented on #97
@luke-oneill Do you load the crop view on the same image?

[2021-04-19 18:34] luke-oneill commented on #97
Yep, same image.

On Mon, 19 Apr 2021 at 19:20, Yingtao Guo ***@***.***> wrote:

[2021-04-19 19:05] guoyingtao commented on #97
@luke-oneill I made some changes in the code. Now you can try using  config.presetTransformationType = .presetInfo(info: transform)
You can retrieve transform information from
[code]
then save it to your server

If you think it works then you can try
[code]

[2021-04-19 19:10] guoyingtao commented on #97
@luke-oneill I made some changes in the code. Now you can try using  config.presetTransformationType = .presetInfo(info: transform)
You can retrieve transform information from
[code]
then save it to your server

If you think it works then you can try
[code]

[2021-04-19 19:27] guoyingtao commented on #97
@luke-oneill I made some changes in the code. Now you can try using  config.presetTransformationType = .presetInfo(info: transform)
You can retrieve transform information from
[code]
then save it to your server

If you think it works then you can try
[code]

Then use
[code]

[2021-04-20 07:36] luke-oneill commented on #97
Thanks, this is close! It works for saving/loading some crop rectangles, but on some it breaks – loading a crop outside the boundaries of the image, e.g.

Cropping the following rectangle (zoomed in to the centre bottom of the test image):

![1](https://user-images.githubusercontent.com/5530491/115355714-d5e90180-a1b2-11eb-86b2-8fdce60e7e35.jpg)

Gives the following transformation:

[code]

Which,

[2021-04-20 13:12] guoyingtao commented on #97
@luke-oneill Would you mind posting the image your are using here? Thank you!

[2021-04-20 13:18] luke-oneill commented on #97
Sure :) Size is 3000 x 2002px (to double check GitHub din't resize!)

![IMG_0005](https://user-images.githubusercontent.com/5530491/115401849-bec20800-a1e2-11eb-9fc0-ebfdf40d5676.JPG)

[2021-04-20 19:29] guoyingtao commented on #97
@luke-oneill I think I fixed the issue.
Can you try
[code]

[2021-04-20 19:34] guoyingtao commented on #97
@luke-oneill I think I fixed the issue. Can you try

[code]

[2021-04-20 19:55] luke-oneill commented on #97
No change I'm afraid :(

BTW it's reproducible in your example project, if you select the above sample image from the simulators photo library, and set the transformation in `presentWithPresetTransformation` to:
[code]

[2021-04-20 20:00] guoyingtao commented on #97
@luke-oneill  Can you check if the code below is changed. If not, can you delete the pod file and run `pod install` again?

<img width="752" alt="image" src="https://user-images.githubusercontent.com/26723384/115456684-7231f900-a1f1-11eb-9cac-1bee4128f400.png">

[2021-04-20 20:08] luke-oneill commented on #97
Yep, all updated correctly. I'm using Swift Package Manager, but did the equivalent – deleted the checked out files and re-setup the dependency!

And to triple check I shut down Xcode and my simulators, and running it on a fresh simulator, so no code could have been cached.

[2021-04-20 20:09] luke-oneill commented on #97
Ohh! Hold on, this update changes the transformation that gets output? I'm sorry, let me check that way round – I was thinking you changed the code that loads and applies the transformation!

[2021-04-20 20:10] guoyingtao commented on #97
The old code is `intialMaskFrame: viewModel.cropOrignFrame` and the new one is `getInitialCropBoxRect()`

[2021-04-20 20:10] guoyingtao commented on #97
Yes, the update changes he transformation.

[2021-04-20 20:18] luke-oneill commented on #97
Sorry my bad – tested again properly and you're right, this fixes it :)
I'll wire it in properly to my server load/save in the morning so I can test it more thoroughly, but it looks good for now. Thanks so much for your support with this!

The final piece of the puzzle is I need to be compatible with crops created from a web interface (i.e. not Mantis). I would like to convert to a simple `x, y, w

[2021-04-20 20:58] guoyingtao commented on #97
@luke-oneill If you don't need to rotate the image, I think the best way to do it is still using presetNormalizedInfo(normailizedInfo: CGRect).
I changed the code so if you use config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(), it will keep the ratio of preset transformation.
Also it is easier to convert between Mantis and your web interface.

[2021-04-21 02:47] kien-huubap opened #99 "It keeps zooming in when switching between Original and Square ratio"
When the device is in landscape orientation, switching between Original and Square ratio will keeping zooming in on the image, as shown below.

![landscape_zoomed](https://user-images.githubusercontent.com/56101510/115488962-f639be80-a28d-11eb-8dc8-2a9e0cf08ecf.gif)

Steps to reproduce:
1. Open the crop view in landscape.
2. Tap on "Square" ratio, the image is zoomed in.
3. Tap on "Original" ratio

[2021-04-21 15:48] plisiam opened #100 "Manual crop does not work everytime"
When an user crops an image, then sometimes the crop action is reverted or modified.

**Steps to reproduce - option 1:**
1. Open the crop controller
2. Tap and drag the LEFT-TOP corner and release
3. -> the crop view returns to the original position

https://user-images.githubusercontent.com/82956823/115572512-429df200-a2c0-11eb-8b9d-33954442f8d9.mov

**Steps to reproduce - option 2:**
1. Open the

[2021-04-21 18:05] guoyingtao commented on #99
@kien-huubap Thanks for the report! I fixed it in a branch
Do you mind helping to test it by using the commit below to see if it solve the issue? Thanks
[code]

[2021-04-21 18:35] guoyingtao commented on #100
@plisiam Thanks for the report and suggestions!
I fixed it in a branch. Would you mind helping to check if it solve the issue by using the commit below? Thank you very much!

[code]

[2021-04-22 02:39] kien-huubap commented on #99
@guoyingtao Nice! I tested it and it works fine now! 👍

![mantis_fixed](https://user-images.githubusercontent.com/56101510/115647707-e3d78780-a356-11eb-8fd8-1aeed3bb82ad.gif)

Again, thanks for the great work! 👍

[2021-04-22 03:09] guoyingtao commented on #99
@kien-huubap Thanks for the tests. I will include this fix in the next release of Mantis.

[2021-04-22 03:10] #99 closed

[2021-04-22 06:00] plisiam commented on #100
Hi, thanks for the quick fix.
0.25 is probably ok. I can't replicate it anymore.

[2021-04-22 06:30] plisiam commented on #100
Unfortunately I found one more bug with a similar symptoms, but probably different root cause. I'll enter it separately.

[2021-04-22 07:07] plisiam opened #104 "Manual crop does not work correctly after rotating"
**Steps to reproduce**
1. Open the crop controller
2. Rotate
3. Tap and drag the LEFT-TOP corner and release
3. -> the image is cropped, but the crop area is moved elsewhere.

https://user-images.githubusercontent.com/82956823/115670781-175fe500-a34a-11eb-8dd0-b2d2dc14d25a.mov

[2021-04-22 18:59] #100 closed

[2021-04-22 21:40] guoyingtao commented on #104
@plisiam I fixed this issue in the commit below
[code]

Would you mind helping to test it again? Thank you!

[2021-04-23 06:58] plisiam commented on #104
@guoyingtao The fix looks good. Thank you

[2021-04-23 18:14] #104 closed

[2021-04-23 18:14] #93 closed

[2021-04-23 18:16] guoyingtao commented on #52
@edbarbier I think the new release of Mantis fixed this issue so I close this issue for now. You can reopen it if you reproduce it again.

[2021-04-23 18:19] guoyingtao commented on #97
@luke-oneill I released Mantis 1.6.1 which fixed a couple of issues. Can you check if you can use presetNormalizedInfo(normailizedInfo: CGRect). to solve this issue then?

[2021-04-26 13:41] luke-oneill commented on #97
Hey, all tested and works well. Thanks so much for this release!

[2021-04-26 13:41] #97 closed

[2021-04-26 20:43] guoyingtao commented on #77
I think the issues in this ticket is solved in the latest version of Mantis so I close this ticket for now.
You can reopen it if you found more issues about it.

[2021-04-26 20:43] #77 closed

[2021-04-26 20:49] guoyingtao commented on #68
@ejuden Since you submitted the PR(https://github.com/guoyingtao/Mantis/pull/73) for this ticket. I just close this ticket and we can do more discussions in the PR.

[2021-04-26 20:49] #68 closed

[2021-04-26 22:26] guoyingtao opened #109 "Improve documents"

[2021-04-28 07:59] VladOrackle opened #110 "Localization does not work"
I am trying to get default toolbar icons localized but it does not really work. Even the example project does not seem to care about device locale or app language set in the settings. I can see that the framework contains localized strings for several languages with possible additions of new localizations.

Moreover if using SPM `LocalizedHelper.getString` can't get proper Bundle because it's alwa

[2021-04-28 16:49] guoyingtao commented on #110
@VladOrackle  The example project only support English and Chinese, Simplified now (although I and add more languages support in the future). I tested it by changing the iPhone to Chinese and it worked.

<img width="650" alt="image" src="https://user-images.githubusercontent.com/26723384/116441643-9d36d100-a81f-11eb-8df1-6318a25dca20.png">

<img width="403" alt="image" src="https://user-images.git

[2021-05-02 18:54] guoyingtao commented on #45
@lucagiorgettispotsoftware Mantis 1.7.1 added support for custom CropShapeType.

[2021-05-02 18:54] #45 closed

[2021-05-02 18:55] #109 closed

[2021-05-10 06:12] alvinthen commented on #52
I was able to reproduce this consistently on my side, on 1.7.1, after zooming and panning, the transformation mask frame returned has a different size. I think it's mainly rounding adjustments. Is there a way to provide the CropViewController a mask frame size instead of calculating from the aspect ratio, and maintain that frame size?

[code]

[2021-05-11 04:13] guoyingtao commented on #52
@alvinthen I made more changes for it
Can you check if the commit below solve the problem? Thank you!
pod 'Mantis', :git => 'https://github.com/guoyingtao/Mantis.git', :commit => 'f4ffee0b0658647a8d2a579898a5e3c72a3bb3fe'

[2021-05-11 05:49] alvinthen commented on #52
Appreciate it again! Both aspect ratio of the `cropped` is not identical, I may have put us on the wrong path, it wouldn't be identical at all, given the number of fractions. Not sure if this library should do rounding on the frame of the `cropped` image.

It's close enough to fit our use case now. Thanks!

[2021-05-11 06:24] alvinthen commented on #52
Actually, it seems that with that fix, we can no longer move the crop box to the edges

[2021-05-11 13:42] guoyingtao commented on #52
@alvinthen Would you mind posting a screenshot or a video to show the issue?

[2021-05-17 22:33] Memiin opened #115 "Question: Using the resizer inside a SwiftUI Sheet"
I'm have a trouble when the resizer is inside a SwiftUI sheet, when I try to resize, the sheet dragdown event starts to happen, is there any way to stop the sheet to drag down?

[2021-05-18 00:15] guoyingtao commented on #115
@Memiin maybe you can use .fullScreenCover

[2021-05-19 13:02] alvinthen commented on #52
I think this is a pretty edge case.

In `cropViewControllerDidCrop`, I get the ratio from the first crop like this

[code]

Then, I send this ratio back for the second image

[code]

The ratio of the first resulted in 0.5648232094288305, the second 0.5637319316688568. It's just fractionally different, but enough to affect our use case.

https://user-images.githubusercontent.com/771989/118816014-5c

[2021-05-19 20:51] guoyingtao commented on #52
@alvinthen OK. I will close it then. Hope you can figure out a way to finish your feature.

[2021-05-19 20:51] #52 closed

[2021-05-19 20:54] Memiin commented on #115
@guoyingtao I was using it wrong, in the simulator there is no multiple touch so that's why the sheet was trying to close, thank you

[2021-05-19 20:54] #115 closed

[2021-05-29 20:21] lincelon opened #116 "How to make dynamic rect height for cropping?"
Hey, thanks for that amazing library.
Is there way to cropping image with static rect width and dynamic height?

[2021-05-30 01:47] guoyingtao commented on #116
@lincelon Can you provide more details. When you say static rect width, does it mean you want to keep the width unchanged and adjust height only?

[2021-05-30 11:48] lincelon commented on #116
@guoyingtao Yep, absolutely right. I want to keep the width unchanged and adjust height only and set the fixed with by pixel.
But, I will be grateful, if you demonstrate that in two ways: by ratio and by pixel.

[2021-05-30 14:22] guoyingtao commented on #116
@lincelon
I think I can add a new enum like below
[code]

For your case, you can set `nonePresetRatioType` to `fixWidth(ratio: your ratio)`, you can always convert pixel to ratio by divide it by the image's width

[2021-05-31 08:36] lincelon commented on #116
Yeah, It will be super useful, thanks

[2021-05-31 16:06] guoyingtao commented on #116
@lincelon Kind of busy now. I may do it next week.

[2021-06-03 03:45] guoyingtao commented on #116
@lincelon Can you check if the commit below solved your issue?

[code]

You can try the `Normal` example in the screenshot below.
[code]
<img width="288" alt="image" src="https://user-images.githubusercontent.com/26723384/120583522-647caf80-c3fc-11eb-8ea0-9cf6a3c20084.png">

[2021-06-04 02:40] guoyingtao commented on #110
@VladOrackle I am not sure if my answer solved the issue or not. I just close this ticket for now. You can reopen it if you have further questions.

[2021-06-04 02:40] #110 closed

[2021-06-17 14:15] GreydeskChirag commented on #26
Hello Guoyingtao,

 I need CropRect after cropping the image. I read the above answer but have not found the same function in my current pod files. So please guide me for the same.

Thanks in advance.

[2021-06-17 15:50] guoyingtao commented on #26
@GreydeskChirag There is a maskFrame in the returned transformation. Can you check if it is what you want?

[2021-06-18 04:40] GreydeskChirag commented on #26
@guoyingtao I have check maskFrame but not getting CropRect as I needed.

I have used a 16:9 cropping ratio as the center crop.
-Main ImageSize : (640.0, 426.0)
-Cropped ImageSize : (640.0, 360.0)
-Transformation (offset: (0.0, 41.5), rotation: 0.0, scale: 1.0, manualZoomed: true, intialMaskFrame: (14.0, 302.753125, 806.0, 536.49375), maskFrame: (14.0, 344.3125, 806.0, 453.375), scrollBounds: (0.0

[2021-06-18 12:58] guoyingtao commented on #26
@GreydeskChirag Since you already have `Main ImageSize : (640.0, 426.0)` and `Cropped ImageSize : (640.0, 360.0)`, I think you can get `CropRect is CGRect(x: 0, y: 33, width: 640, height: 360)` from them.

[2021-07-07 17:12] RankyLau opened #119 "Possible to get cropInfo from Transformation when cropViewControllerDidCrop is called"
First of all, thank you for this amazing framework, I have a great experience using it.
However, I am running into a problem. I want to apply the same transformation as image A to image B, which both has the same dimension.
Looking into the code, it seems that there is a method called getCroppedImage() that I can use to apply the same transformation to image B. However, the delegate method cropVie

[2021-07-08 05:21] guoyingtao commented on #119
@RankyLau The Transformation actually is for applying he same transformation as image A to image B which I mentioned it in README.

There is a demo for it too.

<img width="882" alt="image" src="https://user-images.githubusercontent.com/26723384/124866164-d05cb580-df70-11eb-9278-2145f3939845.png">

<img width="377" alt="image" src="https://user-images.githubusercontent.com/26723384/124866616-904a0

[2021-07-12 16:29] RankyLau commented on #119
Thanks for your help. I have decided to just use CropViewController.processImage() since the processing for ImageB need to be done at the same time as ImageA at the background when the user zoom in or done cropping because we need to check some condition against ImageB at the same time.

[2021-07-12 16:29] #119 closed

[2021-08-01 20:20] danielsaidi opened #121 "roundedRect mask produces incorrect overlay"
When using `roundedRect` as `cropShapeType`, the overlay incorrect...or at least not as expected.

If you add this to the SwiftUI demo:

[code]

The cropper looks like this:

![image](https://user-images.githubusercontent.com/429927/127784280-654d5edc-c64d-48bf-868c-67c98fc88de9.png)

As you can see, the rounded corners is stretched out, which is not what I expected.

[2021-08-04 03:23] guoyingtao commented on #121
@danielsaidi Thanks for reporting this issue. Can you help to check if this commit solves the problem?
[code]

[2021-08-04 08:05] danielsaidi commented on #121
@guoyingtao It works like a dream! 🤩

![image](https://user-images.githubusercontent.com/429927/128145164-0d305e5f-89e1-45e7-95c6-c3490cae78ed.png)

[2021-08-04 18:27] guoyingtao commented on #116
@lincelon Do you still need this feature?

[2021-08-04 18:27] guoyingtao commented on #121
Thanks for the tests!

[2021-08-05 09:12] lincelon commented on #116
Sorry for ignoring, I don't need this anymore, thanks for your work

[2021-08-05 09:12] #116 closed

[2021-08-09 04:13] guoyingtao opened #128 "Localization does not work for static Mantis library"

[2021-08-10 10:55] danielsaidi commented on #121
Is it possible to create a new patch with this fix?

[2021-08-10 10:56] danielsaidi opened #131 "Library doesn't build with Xcode 13"
In Xcode 13, you can not refer to `UIApplication.shared` without marking the function as unavailable for extensions.

<img width="1176" alt="image" src="https://user-images.githubusercontent.com/429927/128855130-84034cf6-265e-432b-909c-d6ff73ee153c.png">

I started moving the `UIApplication.shared` logic into a separate property, to be able to annotate it with `@available(iOSApplicationExtension,

[2021-08-10 13:16] guoyingtao commented on #121
Sure, I will do it tonight.

[2021-08-10 13:19] danielsaidi commented on #121
Great!

I also posted an issue regarding Xcode 13. Will post some updates there now, after trying to get it to work without success :(

[2021-08-10 13:24] danielsaidi commented on #131
I have adjusted two of my open source projects that used `UIApplication.main` to work, but that involved replacing that logic with view controller-based logic instead. That only worked because one library is a keyboard extension that registers a global view controller and the other is a UIKit exclusive library that requires a view controller when using it.

Not sure how you could rewrite `Orientat

[2021-08-10 14:11] danielsaidi commented on #131
Ok, I have an update regarding a temporary fix in my own fork. I don't think this is clean in any way, but I will use it in my own fork and see if this problem disappears in a later beta.

I first added an implicitly unwrapped optional to `Mantis.Config`:

[code]

then replaced `.shared` in the `Orientation's` `application` property (introduced in my PR):

[code]

I then set `Mantis.Config.applica

[2021-08-10 20:35] danielsaidi commented on #131
Xcode beta 5 seems to revert the change made in beta 3.

I'm closing this while I verify :)

[2021-08-10 20:35] #131 closed

[2021-08-11 02:11] guoyingtao commented on #121
I released Mantis 1.7.2 which includes this fix.

[2021-08-11 04:21] danielsaidi commented on #121
I can verify that it works great, thank you! 👍

[2021-08-11 04:21] #121 closed

[2021-08-12 03:03] guoyingtao opened #135 "Improve CGAngle class"
I could use Angle structure but it needs iOS 13.0+

[2021-10-27 13:37] vikkiorrikki opened #137 "Can't add localisation for custom languages"
I need to add localisation for a few more languages.

In Documentation you wrote that:

But I see this error "Value of type 'Config' has no member 'localizationConfig'".

How I can translate Done and Cancel buttons?

[2021-10-28 09:51] #137 closed, assigned to nobody

[2021-11-06 15:38] guoyingtao commented on #128
Solved in 1.7.4

[2021-11-06 15:38] #128 closed

[2021-11-06 18:16] guoyingtao commented on #1
Check this link
https://stackoverflow.com/questions/8235288/perspective-correction-of-uiimage-from-points

[2021-11-23 02:01] roddymunro opened #151 "Add support for changing shapes from crop view toolbar"
It would be great to have a way to change the shape from the crop view toolbar, just like we can change the ratios. For example, tapping on the 'shape' button in the toolbar would bring up a list of shapes, and tapping one would change the crop shape. This list of shapes could be set in the config, just in case the programmer doesn't want to show the heart or star in the list.

I had a go at this,

[2021-11-23 02:50] guoyingtao commented on #151
Good suggestion! I can add this feature in the next release.

[2021-11-23 02:52] roddymunro commented on #151
Awesome!! Something else I was toying with was adding a slider for the corner radius when `.roundedRect` is selected, and hiding this slider when a different shape is selected. Not sure if that's something worth adding too.

[2021-11-23 02:58] guoyingtao commented on #151
I will think about it. Maybe I just expose some APIs to allow user to add extra controls. 🤔

[2022-01-11 13:19] Mehdi-Sohrabi0 opened #154 "Output offset is wrong when using `alwaysUsingOnePresetFixedRatio` and rotate the image"
Hi,
First, Thank you for your great work.

I'm using `config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: 16.0 / 9.0)` in my config and after rotating the image the offset report wrong value. As it is visible in the attached gif the plugin report `offset(0, 0)` which clearly is wrong. It also sometimes report offset with swapped `x` and `y`.

![Screen-Recording-2022-01-11-at-2 05

[2022-01-11 13:22] Mehdi-Sohrabi0 opened #155 "Cropping without showing the UI?"
Hi,

Is it possible to crop an image without showing the UI? By preserved `Transformation` information.

[2022-01-12 02:45] guoyingtao commented on #154
@Mehdi-Sohrabi0 Thank you for the report. Mantis uses a scrollView to hold the image. The offset is the scrollView.contentOffset. When rotating the image, the scrollView is rotated too. That offset value is just used for restoring images and may not have an obvious meaning as you thought.

[2022-01-12 02:58] guoyingtao commented on #155
Currently, it is not supported by Mantis.
It might be possible, but I need to take a look at it later.

[2022-01-12 07:03] Mehdi-Sohrabi0 commented on #155
Hi @guoyingtao
Thank you for your answer.

Currently I'm opening an transparent `CropController` and get the result back from it, but it doesn't feel good to do that.
So I would appreciate if you can spend some time on this.

[code]

[2022-01-12 09:39] Mehdi-Sohrabi0 commented on #154
Hi @guoyingtao,
Thank you for your answer.

I'm aware of the situation that you are mentioning, but I'm more interested in the **image rect** after transformation.
I'm using these calculation to get the result:

[code]

So, when I apply rotation the `transform.offset.x` goes wrong and all of the other calculation goes wrong too.

Any help or suggestion would be appreciated;

[2022-01-12 14:09] guoyingtao commented on #154
@Mehdi-Sohrabi0 After rotating the image, the calculation becomes complicated. The transformation values in Mantis are for restoring the scrollview status in a specific order. The final crop action will retrieve the crop information based on the restored scrollview and other UI controls.
The current calculation in Mantis relies on the multiple statuses of UI controls and I didn't get a calculation

[2022-01-12 14:11] guoyingtao commented on #155
I will take a look at it this weekend but I am not sure if I can make it.

[2022-01-12 14:15] Mehdi-Sohrabi0 commented on #154
@guoyingtao  Thanks for the explanation.

Do you have any suggestion or idea that how can I get the **image rect**?

[2022-01-13 04:21] guoyingtao commented on #155
I found there is already an API for cropping in Mantis but I forgot to provide a way to export CropInfo 😂
[code]

I think if I update CropViewControllerDelegate by adding CropInfo for exporting crop information, then you can use Mantis.getCroppedImage(byCropInfo:andImage:) to crop images without showing UI
[code]

[2022-01-13 08:05] Mehdi-Sohrabi0 commented on #155
Wonderful, so please expose that method.

[2022-01-13 15:13] Mehdi-Sohrabi0 opened #156 "Rotate based on center of image?"
Hi,

Is it possible to change rotation **anchorPoint** so rotation occurs based on `imageContainer` center not `scrollView` center?

[2022-01-14 15:16] guoyingtao commented on #156
Currently, there are a lot of calculations related to scrollview. I am not sure if it is easy to get the correct calculation result if changing the rotation `anchorPoint` based on `imageContainer` center.

Can you give me more context about the reason you want to change it?

[2022-01-14 15:21] guoyingtao commented on #156
Also, I think rotating based on `scrollView` center seems more natural. It looks like the Photo app on iPhone also does the same thing.

[2022-01-14 15:30] Mehdi-Sohrabi0 commented on #156
Exactly, iOS do the same thing and it is more natural :). But I have a special case that needs the rotation to be based on the image. The below video is from Samsung default gallery app, and as you can see the rotation is centered by image.
I know the calculation is too complicated, I'm trying to figure it out by myself and will let you know the result.
In the meanwhile, I'll appreciate any sugges

[2022-01-14 21:49] guoyingtao commented on #155
@Mehdi-Sohrabi0 I released Mantis 1.9.0 which exposes crop info in cropViewControllerDidCrop. Then you can use `Mantis.crop(image:by:)` to get the cropped image by exposed crop info.
Please let me know if you have any questions.

[2022-01-15 21:40] #26 closed

[2022-01-17 08:05] Mehdi-Sohrabi0 commented on #155
tnx a lot.

[2022-01-17 08:05] #155 closed

[2022-01-19 02:03] guoyingtao commented on #154
Hi @Mehdi-Sohrabi0 Does Mantis 1.9.0 solve this issue?

[2022-01-24 03:28] guoyingtao opened #160 "Support straight line dial for angle setting"
Use the code from the [Inchworm project](https://github.com/guoyingtao/Inchworm).

[2022-01-24 03:33] guoyingtao opened #161 "Add asynchronous crop support"

[2022-01-31 09:46] Mehdi-Sohrabi0 commented on #154
Hi, @guoyingtao Sadly No. The problem still exists;

[2022-05-09 10:56] MensikJan opened #163 "cannot install through cocoapods"
instalation fail and created empty folders, can you repair it?

[2022-05-09 13:21] guoyingtao commented on #163
Hi @MensikJan

Thanks for the feedback

Can you please provide the following information?
* CocoaPods version
* Mantis version
* Xcode version
* macOS version

Thank you!

[2022-05-10 08:08] MensikJan commented on #163
Hi,
MacOS 12.1
cocoapods-1.11.3
Mantis 1.9.0
Xcode 13.3

[2022-05-12 09:14] guoyingtao commented on #163
Hi @MensikJan
I can't reproduce this issue. Can you try Swift Package Manager?

[2022-06-02 10:59] datbu178 opened #165 "How can i get the offsetX, offsetY, cropWidth, cropHeight relative to the original image?"
Hi.
I don't use the image rotation function. I just used the simple crop function with the crop area being a rectangle. However what I want here is not crop Image, I just want the coordinates of offestX, offestY, cropWidth, cropHeight relative to the original image size. How can I get this information. Thank you!

[2022-06-07 08:12] 7blueXY opened #166 "Fatal Exception: CALayerInvalidGeometry"
Crash report...

Version 1.8.0

I cannot reproduce it yet. But it is important to keep track of it. As my investigation continues I will update this issue.

[code]

[code]

[2022-06-08 18:55] guoyingtao commented on #165
@datbu178 Currently Mantis does not support this Although we do provide a Transformation in a delegate function which is more complicated than what you want.

[2022-06-08 18:56] guoyingtao commented on #166
@CITPeter  Thanks for the report! I will do more tests on it when I get a chance.

[2022-06-09 03:21] datbu178 commented on #165
After reading your code, I figured out how to get these information.

        let width = cropInfo.cropSize.width / (cropInfo.imageViewSize.width * cropInfo.scale)
        let height = cropInfo.cropSize.height / (cropInfo.imageViewSize.height * cropInfo.scale)
        let centerOffsetX = cropInfo.translation.x / (cropInfo.imageViewSize.width * cropInfo.scale)
        let centerOffsetY = cropInfo.t

[2022-06-10 01:45] #165 closed

[2022-06-14 19:57] #47 closed

[2022-06-22 07:20] chauhan130 opened #167 "Usage of `CropToolbarConfig.cropToolbarHeightForVertialOrientation`."
Thank you for the wonderful library!

I was trying to increase the height of the toolbar. I discovered that there is actually a configuration - `Config.CropToolbarConfig.cropToolbarHeightForVertialOrientation` and `Config.CropToolbarConfig.cropToolbarWidthForHorizontalOrientation`.

But that had no effect on the controller. Turns out [the implementation](https://github.com/guoyingtao/Mantis/blob/m

[2022-06-22 14:10] guoyingtao commented on #167
@chauhan130
Thanks for the feedback.

`Config.CropToolbarConfig.cropToolbarHeightForVertialOrientation` and `Config.CropToolbarConfig.cropToolbarWidthForHorizontalOrientation` is orginally designed for Custom Toolbar.
You can check the `func customizedCropToolbarButtonTouched` in the Example project.

CropToolBar can support this config option if needed in the future.

[2022-06-24 22:38] jofuelo opened #168 "Add customization options"
For a better integration of this awesome library in projects, it would be really nice to have more visual customization options. For example, colors are not customizable at all, and they don't even react to dark/light mode of the ios device. Being able to manipulate the text's and background colors would be really desirable.

For further improvement, being able to change the text size and appearan

[2022-06-25 16:13] guoyingtao commented on #168
Hi @jofuelo Thanks for the feedback.

I will consider supporting customization options you mentioned in the future releases.

[2022-07-08 17:09] vanniktech opened #173 "Option to hide cancel / done buttons"
This is what I came up with so far by using my own NavigationController & setting the UIBarButtonItems:

![simulator_screenshot_9142FBE8-F02C-4A21-8ADE-6539BF8B40C1](https://user-images.githubusercontent.com/5759366/178038387-9757ca89-1553-4efe-ac80-753620495454.png)

Now, is there any option to hide the `Cancel` & `Done` buttons?

[2022-07-08 17:12] vanniktech opened #174 "Better 'SEO'"
I've searched for a suitable Image Cropping library and I may have found it. This library isn't really findable at all through Google though when using  `ios image cropping library` or anything alike. I've found so many libraries here on GitHub, some of them stale for 3 - 5 years, all of them still listed before yours.

The only reason I found this library was your blog post. I don't know what we

[2022-07-08 17:17] vanniktech opened #175 "Min size / max size options"
My backend wants avatars which have a 1:1 aspect ratio (doable), and as for the size it can be anything between 512x512 & 2048x2048.

I'd like to have an option to constrain the size in a given range.

`TOCropViewController` has support for a min size, although indirectly: https://github.com/TimOliver/TOCropViewController/issues/478#issuecomment-821913494

I'd be happy with doing the calculations

[2022-07-08 18:49] guoyingtao commented on #173
@vanniktech
Currently I am working on providing more custom options for crop toolbar. I can add the option to hide `Cancel` & `Done` to my current work.

[2022-07-08 20:32] guoyingtao commented on #175
Thanks for the suggestion.
I will think about feature.

[2022-07-08 20:35] guoyingtao commented on #174
Thanks for the SEO suggestions!
I am not familiar with SEO for Github projects. But I would love to do some research and improve SEO for this project in the future.

[2022-07-09 10:04] vanniktech commented on #173
Much appreciated! Feel free to request a review from me if you create a PR.

[2022-07-09 10:04] vanniktech commented on #174
According to https://www.developermarkepear.com/blog/github-search-engine-optimization, it seems like:

- Name
- About
- Topics
- Stars, Watchers, and Forks (via traffic, Readme.md, and just having a project that is useful to people :) )

---

Name can't be changed really.

I guess maybe the about:

Can be changed to something like: An iOS Image cropping library, which mimics the Photo App written

[2022-07-09 21:05] guoyingtao commented on #174
Updated them as you suggested.
Thanks again!

[2022-07-10 15:58] #174 closed

[2022-07-10 21:19] YingtaoGuo commented on #173
Please check this PR #177
I sent collaborator request to you in order to add you as a reviewer to this PR

[2022-07-11 13:03] guoyingtao commented on #175
@vanniktech
The cropped image size is due to several reasons like updating cropping range, zooming the original image, rotating the original image etc.
So when the cropped image size is not in the range like 512x512 - 2048x2048, do you want to disable some operations like not allowing user to update cropping range / zooming or rotating the original image? Or do you have other ideas to make sure th

[2022-07-11 17:18] vanniktech commented on #175
Rotating (clockwise, counterclockwise, -1, +1 etc) should always work. They don't change the image size.

If the min size is defined as 512x512, you simply won't be allowed to zoom in any further. I guess somewhere there must already be some logic for this whether implicit oder explicit since I wan't seem to be able to get a 1x1 image out of this cropping library.

As for the max size 2048x2048, t

[2022-07-11 19:31] vanniktech commented on #175
Exactly. No matter which way the user zooms in or out, the crop needs to be in the range of the provided min / max sizes, in my case 512x512 and 2048x2048, meaning at some point the user is not able to zoom in or out further.

[2022-07-12 04:47] guoyingtao opened #179 "Add accessibilities"
### CropToolbar buttons
Add accessibility label and hint

### Rotation dial
Work with VoiceOver
UIAccessibilityCustomAction

### CropBox
Work with VoiceOver
We need to set accessibilityFrame for each handler

### Image
Work with VoiceOver

[2022-07-13 14:02] guoyingtao commented on #168
Hi @jofuelo
I will add more options like supporting customized toolbar icons / foreground-color / background-color / text size

You mentioned `they don't even react to dark/light mode of the ios device`
I noticed the native Photo app also does not react dark/light mode. I think the user experience is better for keeping the background dark.
What do you think about it?

[2022-07-13 15:21] vanniktech commented on #168
Agreed.

[2022-07-14 07:01] nixzhu opened #181 "Resettable changed 3 times when present a VC with a embeded CropViewController"
For portrait image:

[code]

For landscape image:

[code]

[2022-07-15 03:44] guoyingtao opened #182 "Fix compile warnings"

[2022-07-15 19:15] guoyingtao commented on #175
Hi @vanniktech
I did some tests. It looks not easy to limit crop size just by not allowing user to do something like changing the cropping box.
Sometimes user can be just over the limitation a little bit but it is not easy to recover to the previous status.
Also the minimumZoomScale is set again when changing the cropping box or rotating the image.

So I am thinking if it works that I provide the

[2022-07-16 04:16] guoyingtao commented on #182
Done with #183

[2022-07-16 04:16] #182 closed

[2022-07-16 09:08] vanniktech commented on #175
In which case can that happen?

The output image size, I can already get in `cropViewControllerDidCrop` using:

[code]

Why is `minimumZoomScale` changed when rotating the image? Is it due to different aspect ratios and hence a new `minimumZoomScale` needs to be calculated?

[2022-07-16 20:46] guoyingtao commented on #175
For `minimumZoomScale`, I have this function which is called after each updating crop box. The function is to keep the selection area after rotating.

[code]

If we don't rotate the image, the `minimumZoomScale` will always be the default one (1.0). After rotating, the minimumZoomScale could be less than 1.0 or greater than 1.0. It depends.

Before rotating - minimumZoomScale is 1.0
![before rotat

[2022-07-16 20:48] guoyingtao commented on #175
Yes, you can get output image size by using cropViewControllerDidCrop, but it takes time to do real crop work. I am thinking to provide a output size before cropping which can be used to show realtime output size.

[2022-07-16 20:56] vanniktech commented on #175
Hmm but should not rotating the image yield this:

<img width="365" alt="Screen Shot 2022-07-16 at 22 54 27" src="https://user-images.githubusercontent.com/5759366/179371677-0b3fde9f-9df4-4cb0-a443-e091ccd7e959.png">

So basically, the image is shown entirely, it's zoomed out (to keep the image constraints).

[2022-07-16 20:58] guoyingtao commented on #175
To prevent user form updating crop box out of range, I am trying to get output crop image size in `touchesMoved` function in `CropView+Touches.swift`, when detecting the output image size is over range, which need to update crop box first, so the crop box would be out of range, we need to restore it to a previous valid state, which may make things complicated.

Considering minimumZoomScale changes

[2022-07-16 21:30] guoyingtao commented on #175
I just followed the same way the native Photo app does. After rotating, the crop box area will occupy the main area (aspectFit) as before rotating.

[2022-07-17 08:23] vanniktech commented on #175
It just looks like in your example https://github.com/guoyingtao/Mantis/issues/175#issuecomment-1186288362 that the leafy parts of the image have disappeared completely after rotating.

You're doing aspectFit on the crop box area though (what the Photo App does too?) right rather than the complete image (what I expect), correct?

[2022-07-17 10:49] guoyingtao commented on #175
@vanniktech
Sorry my explanation is not very clear. The complete image is still there, you can move the image to see the leafy part. It is just the crop box part will automatically expand to occupy the main visible area.

The Photos App is the one made by Apple
<img width="65" alt="image" src="https://user-images.githubusercontent.com/26723384/179394799-055fe735-0482-4d4e-8057-78fe5a82f193.png">

[2022-07-17 11:08] vanniktech commented on #175
Ah, now I know what you mean. I was always thinking in 1:1 aspect ratio and not in others (such as the one you were selecting). If you're only allowing 1:1 you won't have the problem with rotating and suddenly being over bounds.

[2022-07-17 16:23] guoyingtao commented on #175
It seems not suitable to add crop size control logic only for 1:1 aspect in a library.

Actually there is already a example which can show cropped size after each size change operation. But it gets output size by doing real cropping work. I improved it and also made it show size change when rotating an image.

<img width="348" alt="image" src="https://user-images.githubusercontent.com/26723384/179

[2022-07-17 16:30] vanniktech commented on #175
Yeah totally understandable. What if we just expose some `minimum` and `maxiumum` zoom scale? That way they can be calculated and used for this kind of min/max sizing.

[2022-07-17 16:34] guoyingtao commented on #175
Sure I can expose `minimum` and `maximum` zoom scale, but since I plan to expose output size, do you think you still need them to do calculations by yourself?

![Simulator Screen Recording - iPhone 13 Pro Max - 2022-07-17 at 12 27 17](https://user-images.githubusercontent.com/26723384/179411428-813ca53e-8543-4042-af92-dc48c3b22f20.gif)

[2022-07-17 16:41] vanniktech commented on #175
If minimum & maximum scale are exposed, I will only need them.

[2022-07-17 16:47] guoyingtao commented on #175
Does it work for you if you get minimum & Maximus scale from cropViewController in the delegate function `cropViewControllerDidEndResize(_ cropViewController: CropViewController, original: UIImage, cropInfo: CropInfo) `

[2022-07-17 16:54] vanniktech commented on #175
I thought I could set them in the options. Maybe in [here](https://github.com/guoyingtao/Mantis/blob/2ab58abc68da709753f725698953d247bd139bf4/Sources/Mantis/CropView/CropViewConfig.swift#L3)

[2022-07-17 17:18] guoyingtao commented on #175
Do you mean you set initial minimum & maximum scale in CropViewConfig, then I update them after size change operations?

[2022-07-17 17:29] guoyingtao commented on #175
I think I can expose current zoomScale then you can check if the zoomScale is out of range.
BTW I will expose image output size anyway, if you want to check if the output image size is out of range before cropping, you can always directly use it.

[2022-07-17 22:02] vanniktech commented on #175
That would be really cool.

Sounds good!

[2022-07-19 05:30] guoyingtao commented on #175
@vanniktech
For your case (always 1:1 crop box, no rotation dial), I just realized you may just need to set minimum zoomScale and maximum zoomScale in the beginning, then you can control the final output image size.

I exposed `minimumZoomScale` & `maximumZoomScale` in `CropViewConfig` in PR #184
Let me know if it works for your case, then I can merge it into master.

[2022-07-19 09:53] vanniktech commented on #175
That's exactly what I was thinking too!

[2022-07-20 11:29] vanniktech opened #185 "Flip Image horizontally"
Currently, I'm doing:

[code]

Is that how we should do it or do we want to provide some API for it?

[2022-07-20 18:06] guoyingtao commented on #185
Currently I don't have any plan to provide APIs like that because Mantis is kind of WYSIWYG but you are welcome to do this in your own code.
I do want to support mirror mode which was mentioned in #47 in the future which may actually do the same thing you mentioned but it needs more UI works as well.

[2022-07-20 18:08] guoyingtao commented on #175
Just close it for now because of merging of #184
You can reopen it or create a new issue if #184 does not work for you.

[2022-07-20 18:08] #175 closed

[2022-07-21 13:12] guoyingtao commented on #15
@m3gtrmw
Currently you can set CropViewConfig.dialConfig = nil to hide rotation dial
I will restore showRotationDial in the next release.

[2022-07-21 13:47] guoyingtao commented on #185
@vanniktech
Just let you know I restored showRotationDial setting in CropViewConfig because I think it is easier and straightforward for a user to set it.

[2022-07-21 15:30] guoyingtao commented on #15
@m3gtrmw
I released Mantis 2.0.1. Now you can use Config.cropViewConfig. showRotationDial to hide rotation dial.

[2022-07-22 09:48] vanniktech opened #188 "Pod install super slow"
I'm mostly working from Mobile data and installing 2.0.1 took really long (10-15 minutes)

[code]

I guess this is mainly because of the images directory which has 26.7MB.

Either crunch / compress the images or maybe remove some (dunno if all are actually used).

[2022-07-22 10:32] vanniktech commented on #173
`config.showAttachedCropToolbar = false` works really well. Thanks for implementing it!

[2022-07-22 10:34] vanniktech opened #189 "minimumZoomScale not auto applied automatically?"
I tried this out:

[code]

and when selecting a picture, the cropping box still feels like it's at `CGFloat(1)`:

<img width="300" alt="Screen Shot 2022-07-22 at 12 33 16" src="https://user-images.githubusercontent.com/5759366/180421336-8bbfb60c-35a5-44d7-a831-10c676ee1582.png">

Should not it auto zoom into the picture along the center?

[2022-07-22 10:35] vanniktech commented on #175
maximumZoomScale works well:

[code]

[2022-07-22 15:51] guoyingtao commented on #188
I will exclude unnecessary files from CocoaPods release later.

[2022-07-25 05:31] guoyingtao commented on #189
I checked the code and found the current logic actually does not support custom minimumZoomScale well. If may take me more time than what I expected to tackle this issue.
I did some tries but every try broke the normal logic.
I will check the logic again when I get more time.

[2022-07-27 02:44] guoyingtao commented on #188
@vanniktech
I checked Mantis.podspec. It only includes files in the `Sources` folder

[code]

So the Mantis pod is only 222k after `pod install`

I am guessing if it is because of some temporary internet issue.

[2022-07-27 07:25] vanniktech commented on #188
Hmmm, then let's close this and if I encounter it again I'll see what's inside.

[2022-07-27 16:19] vanniktech commented on #185
Huh my `flipImageHorizontally ` does not really work:

<img width="300" alt="Screen Shot 2022-07-27 at 18 18 26" src="https://user-images.githubusercontent.com/5759366/181298090-93147646-b1ce-4e2c-bea0-a56aa8f8504f.png">

The cropping box stays and shows the wrong thing:

<img width="300" alt="Screen Shot 2022-07-27 at 18 18 51" src="https://user-images.githubusercontent.com/5759366/181298176-e7e0

[2022-07-28 05:12] guoyingtao commented on #189
@vanniktech
Please check #190 to see if it solves the issue

[2022-07-28 05:15] guoyingtao commented on #185
I thought you only wanted to output the flipped image.

If you want to do the entire interactions with flipped image, it may need more work than you thought. Also it may need Mantis to support this feature inside the library.

[2022-07-28 06:35] vanniktech commented on #185
Nope.

Yes. In the very beginning I only tested it out when flipping without doing any interactions (rotate, zoom in etc)

[2022-07-28 14:53] #189 closed

[2022-08-03 05:50] VOTONO opened #192 "The language is updated only after the application is restarted"
Thank you for your work. But please, help me!

When I change the language in the application, the buttons remain in the previous language

- Yes, I save language in user default
- Yes, I call synnchronize

[2022-08-03 07:17] hoangnam714 opened #193 "How to set border width and color mask layer?"
![Screen Shot 2022-08-03 at 14 16 11](https://user-images.githubusercontent.com/51524705/182547422-d25265fe-65a6-4b79-8004-930ca70f06aa.png)

I am creating 1 class of image crop by modifying this library of yours, but i have tried everything with uibenzalpath but nothing works, can someone help me

[2022-08-04 06:18] guoyingtao commented on #193
@hoangnam714  Thanks for the feedback. It will be supported in the next release.

[2022-08-04 06:21] guoyingtao commented on #192
@VOTONO When you say `When I change the language in the application`, do you mean you changed the language inside your app or in the `System Settings`?
If you did it in your app, can you show me some code? Thank you!

[2022-08-04 06:22] hoangnam714 commented on #193
@guoyingtao  thank you very much, I wish you a good day.

[2022-08-06 16:45] vanniktech opened #198 "Wrong aspect ratio"
When manually resizing pictures and having a predefined 1:1 aspect ratio, I consistently seem to get non 1:1 aspect ratios, usually off by one pixel.

More info: https://github.com/guoyingtao/Mantis/pull/195

[2022-08-07 03:42] hoangnam714 commented on #193
Hi @guoyingtao, looks like you misunderstood me, I mean the mask of crop image can set border, because my crop UI is different from yours, the image is previewed in a black frame, but when exporting the image still is 1 square like the previous library
![Simulator Screen Shot - iPhone 13 Pro Max - 2022-08-07 at 10 38 32](https://user-images.githubusercontent.com/51524705/183274146-a50f6ff6-a509-45

[2022-08-07 18:47] guoyingtao commented on #193
<img width="971" alt="image" src="https://user-images.githubusercontent.com/26723384/183306422-7af97092-c1ed-4c69-9095-518b2822a991.png">
@hoangnam714  Check `getImageWithTransparentBackground` in `UIImageExtensions.swift` to see if it helps.

[2022-08-08 03:46] VOTONO commented on #192
Inside my app.

langCultureCode is "en" , "fr", "ru" etc.

`UserDefaults.standard.set(langCultureCode, forKey: "UserLanguage")`
`UserDefaults.standard.set([langCultureCode], forKey: "AppleLanguages")`
`UserDefaults.standard.synchronize()`

It works well for GSMGeocoder, without restart

[2022-08-08 14:34] guoyingtao commented on #192
@VOTONO
Can you provide more details about how you use langCultureCode with Mantis?

[2022-08-08 14:36] guoyingtao commented on #168
Since Mantis 2.0.0 added more customization options (No support for reacting to dark mode / light mode yet), I close this issue for now.

[2022-08-08 14:36] #168 closed

[2022-08-08 16:19] #15 closed

[2022-08-08 16:23] guoyingtao commented on #167
It is supported since Mantis 2.0.0.

[2022-08-08 16:23] #167 closed

[2022-08-08 16:24] guoyingtao commented on #163
Since I haven't got response for this issue for a long time. I close it for now.

[2022-08-08 16:24] #163 closed

[2022-08-09 08:23] hoangnam714 commented on #193
@guoyingtao  oh no, that's bad, I can't exactly find that circle transparent overlay func, can you help me a little more, thank you.

[2022-08-09 12:36] guoyingtao commented on #193
@hoangnam714 Why do you need to find  circle transparent overlay func since you want to set the rectangle border?

[2022-08-09 12:41] hoangnam714 commented on #193
@guoyingtao because my crop frame does not have to zoom in out the whole frame, it simply has the function of cropping the image, and the red circle is the crop frame, instead of your existing square frame

[2022-08-09 12:43] hoangnam714 commented on #193
@guoyingtao mantis is very cool and i tried to figure it out, but about the transparent overlay with circular outline i still don't know how to do with it

[2022-08-09 12:54] guoyingtao commented on #193
So you want to set the border of the circle shape mask? Because the arrow in the attached image points at the rectangle border, so I am not sure which border you want.

[2022-08-09 13:08] hoangnam714 commented on #193
i want the border inside the circle to show like on the demo image above

[2022-08-09 14:16] hoangnam714 commented on #193
@guoyingtao sorry, editing photos on mac it's a disaster, what i want is a red border inside, close to the border of the transparent overlay

[2022-08-09 15:46] hoangnam714 commented on #193
@guoyingtao I don't want to keep the square frame, I removed the square frame

[2022-08-09 16:09] guoyingtao commented on #193
OK. I think I understand your requirement now.
Do you think this [link](https://medium.com/thefloatingpoint/how-to-make-any-uiview-into-a-circle-a3aad48eac4a) is helpful?

[2022-08-09 16:16] hoangnam714 commented on #193
@guoyingtao sorry i use google translate, i mean have circle, border radius above the mask layer, ... and that circle border is the outermost frame layer, instead of your square frame, i'm trying to do this  there
![Uploading CE329E9C-D400-4F48-92E8-993DCEDE69DA.jpeg…]()

[2022-08-09 16:29] guoyingtao commented on #193
<img width="850" alt="image" src="https://user-images.githubusercontent.com/26723384/183706679-959ed2b5-c31f-4f4c-a1cd-5a4cef96df87.png">
It seems the image you are uploading is not done yet.
Can you upload it again? Maybe it is easier for me to understand better.

[2022-08-09 16:31] hoangnam714 commented on #193
![227D12BF-C023-4460-BD4F-B158E117968D](https://user-images.githubusercontent.com/51524705/183706968-b6567c8b-39f8-407b-b873-578ea7d77c31.jpeg)
this is the ui i want, the round frame is fixed

[2022-08-10 03:24] VOTONO commented on #192
This method automatically changes the language in other libraries. GMSGeocoder from Google, for example. I expected the same from Mantis.
Please tell me a way how to change the language without restarting the application.

[2022-08-12 07:19] hoangnam714 commented on #193
Hi @guoyingtao  i found a temporary solution and it's ok, thanks for your enthusiastic support. Wish you a good day!

[2022-08-12 07:19] #193 closed

[2022-08-26 03:33] guoyingtao commented on #185
@vanniktech
Finally I got a chance to make Mantis support flipping image.
Please check this PR #200 to see if it works for you

For demo example, you can choose `Clockwise rotation` button, then you will see `flip horizontally` and `flip vertically` button
<img width="386" alt="image" src="https://user-images.githubusercontent.com/26723384/186811770-3e20a39e-b026-4a70-a964-1188724d8a47.png">

<img

[2022-08-26 03:34] guoyingtao commented on #185
This is a simple demo
![Simulator Screen Recording - iPhone 13 Pro Max - 2022-08-25 at 23 33 49](https://user-images.githubusercontent.com/26723384/186812000-260d5361-f4eb-4d97-b91b-3f1984821165.gif)

[2022-08-26 10:05] vanniktech commented on #185
Amazing, will check it this weekend!

[2022-08-28 02:14] guoyingtao commented on #185
I closed this issue since Mantis 2.1.0 supports flipping Image now.

[2022-08-28 02:14] #185 closed

[2022-08-28 02:16] guoyingtao commented on #198
I think this one is also fixed in Mantis 2.1.0

[2022-08-28 02:16] #198 closed

[2022-08-28 08:33] vanniktech opened #201 "Flipping image horizontally and then rotating causes weird animation"
1. Flip image horizontally
2. Rotate image

Expected behavior: The image would rotate just around itself nicely as it is done without flipping image horizontally
Actual behavior: Rotating also plays the flipping animation which looks a bit weird

https://user-images.githubusercontent.com/5759366/187065183-3fbacff1-3fa8-4674-8a25-75e0187532eb.mp4

[2022-08-28 12:04] guoyingtao commented on #201
@vanniktech
The mp4 only shows a still picture.
Can you either post a gif or provide a downloadable video link? Thank you!

When you say `split image`, do you mean `flip image`?
Do you mean something like `flip image then rotate it`?
![Simulator Screen Recording - iPhone 13 Pro Max - 2022-08-28 at 08 03 38](https://user-images.githubusercontent.com/26723384/187073288-495f2e6c-1ae1-4701-9af2-fa9094

[2022-08-28 12:06] guoyingtao commented on #201
When you say `split image`, do you mean `flip image`?

[2022-08-28 12:08] guoyingtao commented on #201
This is the animation for `flip image horizontally then rotate` from my test.
![Simulator Screen Recording - iPhone 13 Pro Max - 2022-08-28 at 08 03 38](https://user-images.githubusercontent.com/26723384/187073430-066198cd-fdde-4389-b584-b4cf3bb8370b.gif)

[2022-08-28 12:19] vanniktech commented on #201
Oh yes, I meant flip. Weird, I can not reproduce in the demo. In my real application I just call the `didSelect` methods:

[code]

There's nothing else happening.

[2022-08-28 12:55] guoyingtao commented on #201
Can you use a different image to test to see if it is the same? Thank you!

[2022-08-28 13:05] guoyingtao commented on #201
In the mp4 video, I could not see the flip animation. Can you provide a new one including the flipping animation part too?
Thank you!

[2022-08-28 13:11] vanniktech commented on #201
Yeah here's one. Can't be that much longer since GitHub has a 10mb file upload limit:

https://user-images.githubusercontent.com/5759366/187075672-26dd17b4-49c3-4573-a016-29a563bd25ac.mp4

[2022-08-28 14:20] guoyingtao commented on #201
I reproduced this bug. It happens when using alwaysUsingOnePresetFixedRatio
I will fix it soon

[2022-08-28 17:49] vanniktech commented on #201
`alwaysUsingOnePresetFixedRatio` indeed, this is what I'm using!

[2022-08-28 20:42] guoyingtao commented on #201
@vanniktech
Please check if this PR #202 fix the issue.

[2022-08-28 21:18] #201 closed

[2022-08-30 21:45] fuxlud opened #204 "Circle instead of RoundRect in SwiftUI Example."
I've added a new button:
[code]

But instead of a RoundRect, a Circle cropping is produced:

[2022-08-30 21:47] fuxlud commented on #204
Without keeping the 1:1 ratio, an Oval will be presented.
[code]

[2022-08-30 21:49] #204 closed

[2022-08-31 01:45] dileepasisila opened #205 "Build Error in Xcode 14 beta "Signing for Mantis-Resources requires a development team""
We are using Mantis 1.6.2 version for our ios application.

Currently, we are testing our app with Xcode 14 beta and ios 16 betas.

We got a new build error from Mantis Resources in Pods level in Xcode 14 beta while building the application.
It said the development team is mandatory for Mantis Resources.
I have attached a screenshot for more details.

<img width="1419" alt="Screenshot 2022-08-31 a

[2022-08-31 02:31] guoyingtao commented on #205
Thanks for the feedback.
I found this [link](https://stackoverflow.com/a/72600584/288724) from StackOverflow.
Can you check if it can solve the issue?

[2022-08-31 09:28] dileepasisila commented on #205
@guoyingtao yes, that link worked for me perfectly and I have modified the pod file below modification.

`post_install do |installer|
  installer.generated_projects.each do |project|
    project.targets.each do |target|
        target.build_configurations.each do |config|
          if target.name == "Mantis-Resource"
              config.build_settings["DEVELOPMENT_TEAM"] = "JJJVV93J3A"

[2022-08-31 14:11] #205 closed

[2022-08-31 14:12] guoyingtao commented on #135
I will just close it for now since Mantis still needs to support iOS 11.0+ and currently CGAngle works fine.

[2022-08-31 14:12] #135 closed

[2022-09-03 18:07] guoyingtao opened #206 "Improve animation for flipping image after rotation"
![Simulator Screen Recording - iPhone 13 Pro Max - 2022-09-03 at 14 06 42](https://user-images.githubusercontent.com/26723384/188283033-d04791e4-51dc-48a9-b324-d11ba7f8138b.gif)

[2022-09-08 07:02] BlueCobold opened #208 "Cropped/Rotated image sometimes ends up low res"
Hi.

I'm using the latest Mantis and sometimes, when I crop a 581x600 image (I can reproduce on this one) by 45°, the resulting image looks like it used a low-res version to rotate and crop the image and it also ends up in only 134x139 pixels.

I have attached screenshots of the Mantis-preview and the resulting image.

You can clearly see that the pixelation is rotated 45° as well, as if Mantis us

[2022-09-08 14:03] guoyingtao commented on #208
@BlueCobold
Thanks for reporting this issue.
Can you also post the original image here? Thank you!

[2022-09-09 12:16] BlueCobold commented on #208
Of course.
It looks like I cannot always replicate the problem. I could replicate it a few times, though, with different rotations and cropped rectangles and between different app-launches.

![thumb_1595767609182_2090130851_](https://user-images.githubusercontent.com/4488101/189347896-ab094457-18c6-45cc-978e-4f431c8921c5.jpg)

[2022-09-28 12:21] guoyingtao opened #209 "CropToolbarDelegate does not conform to Apple's naming conventions"
It needs to be refactored.

[2022-09-29 02:37] zhang646702205 opened #210 "recrop"
now can i recrop the same with last cropinfo, and can reset to the original image

[2022-09-29 03:19] guoyingtao commented on #210
Yes
You can search presentWithPresetTransformation in the example project. You can get transform info from the previous crop delegate function cropViewControllerDidCrop(:cropped:transformation:cropInfo:)
And just push the reset button from Crop Toolbar to reset to the original image.

[2022-09-30 02:02] zhang646702205 commented on #210
ok

[2022-09-30 07:12] zhang646702205 commented on #210
the crop view padding can not set custom?

[2022-09-30 14:55] guoyingtao commented on #210
It is not supported currently. But if necessary I can make it customizable in a future release.

[2022-10-10 07:07] zhang646702205 commented on #210
thanks. i need it

[2022-10-14 08:26] boy-coderzz opened #212 "Static Rect"
Hi, is there a way to disable resize crop rect when set one fix ratio?

[2022-10-16 14:20] guoyingtao commented on #212
Disable resize crop rect is not supported currently.

[2022-10-19 02:08] #212 closed

[2022-10-19 02:10] boy-coderzz opened #213 "Change config.cropToolbarConfig.mode is not working"
I want to hide Cancel and Done button by change config.cropToolbarConfig.mode to .simple but it not working.

[2022-10-19 02:29] guoyingtao commented on #213
Currently it needs to set CropViewController.mode to customizable. I will improve this logic in a future release.

[2022-10-20 04:36] behrangnm opened #215 "Mac catalyst set initial crop aspect ratio problem"
I'm having a hard time initiating a cropViewController with a non-default aspect ratio in mac Catalyst.
Let's say I initiate my cropViewController with an image and want to show the default crop aspect ratio as 16/9

let cropViewController = Mantis.cropViewController(image: myImage)
cropViewController.config.presetFixedRatioType = .alwaysUsingOnePresetFixedRatio(ratio: 16.0/9.0)

When I present th

[2022-10-20 06:04] guoyingtao commented on #215
@behrangnm
Thanks for the feedback. Could you provide more information like your macOS version and your Xcode version?
I did a test but didn't reproduce it on my MacBook Pro (macOS 12.6, Xcode Version 13.3.1 (13E500a))

https://user-images.githubusercontent.com/26723384/196868150-ef61a71e-8f71-46da-b6c2-b17b59e54192.mov

[2022-10-20 15:58] behrangnm commented on #215
Thanks for getting back to me quickly. I checked your sample example against my code and I was missing the following in my setup of the cropViewController:
cropViewController.modalPresentationStyle = .fullScreen
So if you remove that from your test code, you will seeing the bouncing of the crop frame. I guess I had to read the "Basics" of how to set it up in the read.me file :)
Anyway, problem sol

[2022-10-25 08:16] zhang646702205 opened #216 "ask"
can i use the cropView border to resize the cropview?

[2022-10-25 08:20] #216 closed

[2022-10-25 13:42] vanniktech opened #217 "Swipe to dismiss interferes with crop box changes"
Forgive me if my terminology is incorrect. This is how I show the cropping view controller:

[code]

Now, when trying to change the cropping window size the swiping interferes with another swipe listener:

https://user-images.githubusercontent.com/5759366/197788535-5fda2b64-4b5a-48bd-8f88-af442e6109ee.mp4

You can see that resizing the window must be done in multiple steps and the entire view cont

[2022-10-26 11:37] vanniktech commented on #217
It seems like option 3 is the way to go.

Isn't this something Mantis would need to do though as I don't have access to the internals?

[2022-10-26 12:31] iosHumhae opened #218 "Can I make the toolbar invisible?"
I want to completely hide the crop toolbar.
Any solutions?

[2022-10-26 13:16] mikestalker commented on #218
[code]

[2022-10-26 13:29] guoyingtao commented on #217
@vanniktech
You are right. I will take a look when I get a chance.

[2022-10-26 13:34] mikestalker opened #219 "counterclockwiseRotate do not triggers CropViewControllerDelegate methods"
No any method from `CropViewControllerDelegate` called when used any build in transformation: `.counterclockwiseRotate, .clockwiseRotate, .alterCropper90Degree, .verticallyFlip, .horizontallyFlip`. Only  `.reset` and `.ratio` actions triggers `cropViewControllerDidEndResize` and `cropViewControllerDidBeginResize`.

Is there any chanse to get information regarding actions from standart CropToolbar

[2022-10-26 13:47] iosHumhae commented on #218
cool! It's a shame I couldn't find that method. thank you

[2022-10-26 13:47] #218 closed

[2022-10-26 15:13] mikestalker commented on #219
Hello @guoyingtao
I'm using your library in application for editing photo, and after some transformations are done - there appears "Apply" button in my app. And only after user press "apply" I perform `cropViewController?.crop()`.
So I need some event in delegate that informs me that some transformations were done, before I make "Apply" button available. Currently I use `cropViewControllerDidEndRe

[2022-10-27 02:51] guoyingtao commented on #217
@vanniktech
I raised PR #220 for it which fixed this issue. You can try the normal demo to see if it actually works (Which presents CorpViewController without using full screen).

[2022-10-28 13:38] mikestalker commented on #219
@guoyingtao sorry for bothering you, but can you please give me hint about your thoughts regarding this? Thank you in advance

[2022-10-28 15:18] guoyingtao commented on #219
Hi @mikestalker
I can add more delegate functions to expose more editing events. Hope I can get a chance to do it this weekend.

[2022-10-30 18:39] guoyingtao commented on #217
@vanniktech
I released Mantis 2.1.2 which includes the fix for this issue. Please have a test.

[2022-10-30 20:45] guoyingtao commented on #219
Hi @mikestalker
I added a new function cropViewControllerDidImageTransformed in CropViewControllerDelegate in this PR #222
Can you take a look to see if it is what you want?

[2022-10-31 10:37] mikestalker commented on #219
Hello @guoyingtao , looks like that's what I need. Thank you for such quick fix. Waiting for 2.1.3.

[2022-10-31 15:15] vanniktech commented on #217
Will do later today / tomorrow!

[2022-10-31 18:35] guoyingtao commented on #219
Just released Mantis 2.2.0 which should solve this issue. Can you take a look? @mikestalker

[2022-11-01 10:26] mikestalker commented on #219
Wow. Thank you so much @guoyingtao
Just checked - works like a charm.
As idea for future, maybe it can be useful if there is one more delegate method cropViewControllerDidImageReset - called when image reset to initial state. Not critical for me at all, just genereted idea.
Thank you one more time.

[2022-11-01 10:26] #219 closed

[2022-11-02 05:33] twomedia opened #224 "Version 2.2.0 introduces a rotation UI issue when resetting changes"
I've attached a video example of the issue on V2.2.0. In the video, you can see that after I reset my rotation changes, the controls will appear under the image as I rotate. There are also a few other minor visual issues as well, including the crop tint no longer working.

I reverted to V2.1.2 & confirmed the issue doesn't occur, so it was definitely introduced in the 2.2.0 changes.

Testing on th

[2022-11-02 06:39] guoyingtao commented on #224
@twomedia
Thanks for reporting the bug.
I released Mantis 2.2.1 which should fix the issue.
Can you take a look again? Thanks!

[2022-11-02 15:49] vanniktech commented on #217
Thanks! Verified with 2.2.1

[2022-11-02 15:49] #217 closed

[2022-11-02 16:08] twomedia commented on #224
@guoyingtao Thanks for jumping on this so quick! I can confirm that V2.2.1 addressed this bug.

Thanks again!

[2022-11-02 16:08] #224 closed

[2022-11-02 18:20] guoyingtao commented on #181
Looks like this issue is gone although I haven't got a chance to check why it was fixed.
I closed it for now.

[2022-11-02 18:20] #181 closed

[2022-11-13 04:22] guoyingtao commented on #215
Just released Mantis 2.3.0 which automatically sets the presentation style to fullscreen on ios 13+ / mac catalyst

[2022-11-13 04:22] #215 closed

[2022-11-13 04:23] guoyingtao commented on #213
It is fixed in Mantis 2.3.0
You can directly set config.cropToolbarConfig.mode to embedded.

[2022-11-13 04:23] #213 closed

[2022-11-13 04:23] guoyingtao commented on #210
Just released Mantis 2.3.0 which supports customizable crop view padding.

[2022-11-13 04:23] #210 closed

[2022-11-13 21:05] guoyingtao commented on #160
Need to refactor Inchworm code first.

[2022-11-13 21:52] #209 closed

[2022-11-14 05:05] guoyingtao opened #233 "Support custom waiting animation for async crop"
Would be nice to also have an API where `activityIndicator` isn't used at all. I'd want to have my own loading view shown instead of the one from the library

_Originally posted by @vanniktech in https://github.com/guoyingtao/Mantis/pull/232#pullrequestreview-1178300562_

[2022-11-14 17:39] #161 closed

[2022-11-25 04:01] zhang646702205 commented on #210
when i set ratio to 1:1, then reset the ratio, then set ratio to 1:1, it do not work. I see inside cropViewController
<img width="742" alt="image" src="https://user-images.githubusercontent.com/12026257/203898695-89c663d7-1251-4aaa-8718-48331f2a41b9.png">. the viewModel aspectRatie not reset when i call reset ratio. Does this is a bug?

[2022-11-26 02:48] guoyingtao commented on #210
![Simulator Screen Recording - iPhone 13 Pro Max - 2022-11-25 at 21 44 26](https://user-images.githubusercontent.com/26723384/204069640-bce4143f-393d-427a-b9dc-696d172156f4.gif)

Hi @zhang646702205
I tested and didn't find the issue.

Can you attach your test here? Thank you!

[2022-11-28 02:54] zhang646702205 commented on #210
https://user-images.githubusercontent.com/12026257/204181246-1b5bc897-55a9-4194-9db1-71b3de5232ea.mp4

when click free i call cropToolbarDelegate?.didSelectSetRatio(), when click other i called cropToolbarDelegate?.didSelectRatio(ratio: ratio), can show the problem。Other question：as the video shows, when i change the aspect ratio，the image always scaled。Doesn't some i used wrong?

[2022-11-28 04:55] guoyingtao commented on #210
![sample](https://user-images.githubusercontent.com/26723384/204196913-8b369045-968b-476d-a007-daf961b966b2.jpg)

Please check the example as shown in the screenshot.

[2022-11-28 05:49] zhang646702205 commented on #210
if custom is free size cropview, then i set to 1:1, how can reset the corpview to free size?

[2022-11-28 06:24] zhang646702205 commented on #210
if i add the cropviewcontroller as a sub viewcontroller ,does in metter?

[2022-11-28 06:34] zhang646702205 commented on #210
i see the demo has the same problem。when i choose a landscape image, then click 9:16 it auto scale the image。click to 16：9 is ok, when i then click the 9:16 ,it‘s scale the image again.

[2022-11-29 03:08] zhang646702205 commented on #210
when i set the ratio to 1:1, how can i reset the cropview to freedom size？

[2022-11-29 03:20] zhang646702205 commented on #210
https://user-images.githubusercontent.com/12026257/204430553-bda510b2-e7fd-42b2-9444-a13ad18ae966.mp4

As the video show, does it's a bug?

[2022-11-29 03:25] guoyingtao commented on #210
Currently Mantis only supports showing fixed ratio list with the free crop button, or only showing fixed ratio buttons. I may support this later if needed.

I don't think it matter

It is a known issue. I may improve it later.

[2022-11-29 03:29] zhang646702205 commented on #210
Thanks for reply.